.media-page-header {
    padding-bottom: 117px;
}
.ill-head {
}
.container {
}
.media-head {
    @extend %df;
    @extend %jcsb;
    padding-top: 52px;
    // .media-head__wrap

    &__wrap {

        // .media-head__wrap_left

        &_left {
            padding-left: 128px;
            padding-top: 9px;
        }

        // .media-head__wrap_right

        &_right {
            max-width: 582px;
            padding-right: 10px;
        }
    }

    // .media-head__title

    &__title {
        @extend %h1-title;
        color: $black;
        margin-bottom: 19px;
    }

    // .media-head__text

    &__text {
        @extend %simple-text;
        color: $gray;
    }
}
