.media-themes-sect {
    background-color: $dark_white;
    padding-top: 40px;
    padding-bottom: 74px;
    // .media-themes-sect_without-bg

    &_without-bg {
        background-color: transparent;
    }
}
.container {
}
.media-theme {

    // .media-theme__wrap

    &__wrap {

        // .media-theme__wrap_top

        &_top {
            padding-left: 32px;
            margin-bottom: 31px;
        }

        // .media-theme__wrap_bot

        &_bot {
        }
    }

    // .media-theme__title 

    &__title {
        @extend %h2-title;
        color: $black;
    }

    // .media-theme__text

    &__text {
        @extend %simple-text;
        color: $gray;
    }

    // .media-theme__medias

    &__medias {
        @extend %df;
        @extend %aic;
        @extend %jcsb;
    }

    // .media-theme__item

    &__item {
        position: relative;
    }

    // .media-theme__link

    &__link {
        @extend %db;
        width: 372px;
    }

    // .media-theme__wrap-img

    &__wrap-img {
        width: 100%;
        height: 210px;
        overflow: hidden;
        border-radius: 5px;
    }

    // .media-theme__icon

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -20px;
        margin-top: -20px;
        width: 40px;
        height: 40px;
        @extend %df;
        @extend %aic;
        @extend %jcc;
        border: 1px solid $white;
        background-color: rgba($color: $white, $alpha: .3);
        border-radius: 50%;
    }

    &__btn {
        @extend %border-btn;
        @extend %border-green;
        width: 179px;
        height: 45px;
        padding: 0 15px;
        margin-top: 21px;
    }
}
.icon {
}
.icon-play-ico {
}
.white {
}
