body {
    font-size: 16px;
}
img,svg {
    @extend %dib;
    width: inherit;
    height: inherit;
}
a {
    &:hover {
        // color: $color_link_hover;
    }
}

.icon {
    &.gray {
        color: $gray;
    }
    &.white {
        color: $white;
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    &.show {
        pointer-events: all;
        cursor: pointer;
        z-index: 1;
        background-color: rgba($color: $black, $alpha: .2);
    }
    &.showMod {
        pointer-events: all;
        cursor: pointer;
        background-color: rgba($color: $black, $alpha: .2);
        z-index: 99;
    }
    &.modMenu {
        pointer-events: all;
        cursor: pointer;
        background-color: rgba($color: $black, $alpha: .2);
        z-index: 99;
    }
}
.bg-img {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    &_grammar-bot {
        bottom: -575px;
        left: -264px;
    }
    &_home-present {
        bottom: -350px;
        left: 82px;
    }
    // .bg-img_what-next

    &_what-next {
        bottom: -297px;
        left: 257px;
    }
    &_home-media {
        right: 152px;
        top: 76px;
    }
    &_footer-left {
        z-index: 5;
        left: 248px;
        bottom: 0px;
    }
    &_footer-right {
        z-index: 5;
        right: 191px;
        bottom: 0px;
    }
}
.mob-burger {
    position: relative;
    z-index: 10;
    width: 25px;
    height: 18px;
    margin-left: auto;
    margin-left: 28px;
    display: none;
    &__btn {
        position: relative;
        @extend %df;
        flex-direction: column;
        @extend %jcc;
        width: 100%;
        height: 100%;
        @extend %ease; 
        span {
            display: block;
            width: 23px;
            height: 2px;
            border-radius: 7px;
            background-color: $black;
            transition: all .5s ease;
            &:first-child {
                position: absolute;
                top: 0;
                left: 0px;
            }
            &:last-child {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &.active {
            span {
                background-color: $black;
                &:first-child {
                    top: 8px;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    height: 0;
                }
                &:last-child {
                    bottom: 8px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
.ink-go {
    cursor: pointer;
}