// ================ Circe-Bold ================
@include font_face(Circe-Bold, Circe-Bold);

%bold {
    font-family: 'Circe-Bold', sans-serif;
}
// ################ Circe-Bold ################

// ================ Circe-Regular ==============
@include font_face(Circe-Regular, Circe-Regular);

%regular {
    font-family: 'Circe-Regular', sans-serif;
}
// ################### Circe-Regular ###################

// ====================== Font sizes =======================
%fz-40 {
    font-size: rem(40);
}
%fz-30 {
    font-size: rem(30);
}
%fz-16 {
    font-size: rem(16);
}
%fz-14 {
    font-size: rem(14);
}
//===================> Line height
%lh-41 {
    line-height: rem(41);
}
%lh-34 {
    line-height: rem(34);
}
%lh-21 {
    line-height: rem(21);
}
%lh-24 {
    line-height: rem(24);
}
// ================ Letter spasing
%ls-3 {
    letter-spacing: 0.03em;
}


// ==> Base Styles For Html text nodes
%h1-title {
    @extend %bold;
    @extend %fz-40;
    @extend %lh-41;
    @extend %ls-3;
}
%h2-title {
    @extend %regular;
    @extend %fz-30;
    @extend %lh-34;
    @extend %ls-3;
}
%btn-text {
    @extend %bold;
    @extend %fz-16;
    @extend %lh-21;
}
%simple-text {
    @extend %regular;
    @extend %fz-16;
    @extend %lh-24;
}
// ===========================
// ==> Specialised Styling elements

// ==> Navigation 
%nav-menu {
    @extend %regular;
    @extend %fz-14;
    @extend %lh-21;
    @extend %ls-3;
}
// ==> Title with link
%link-title {
    @extend %h1-title;
    // @extend %aic;
    a {
        @extend %ease;
        color: $black;
        &:hover {
            color: $red;
            i {
                margin-left: 10px;
                svg {
                    path {
                        stroke: $red;
                    }
                }
            }
        }
    }
    i {
        @extend %dib;
        margin-left: 5px;
        width: 41px;
        height: 23px;
        @extend %ease;
        svg {
            path {
                @extend %ease;
                stroke: $black;
            }
        }
    }
}
%ttu {
    text-transform: uppercase;
}