.footer-sect {
    position: relative;
    overflow: hidden;
    padding-top: 32px;
    padding-bottom: 60px;
    background-color: $dark_white;
    .des {
        position: absolute;
        right: 341px;
        bottom: 60px;
        @extend %simple-text;
        letter-spacing: 0.05em;
        a {
			color: $black;
			@extend %bold;
			&:hover {
				color: $green;
			}
        }
    }
}
.container {
}
.footer {
    @extend %df;
    @extend %jcsb;
		// .footer__wrap

		&__wrap {

			// .footer__wrap_right

			&_right {
                margin-top: 7px;
			}

			// .footer__wrap_middle

			&_middle {
                // width: 535px;
                @extend %df;
                // margin-left: 156px;
            margin-top: 10px;
                // @extend %jcsb;
			}
		}

		// .footer__logo

		&__logo {
		}

		// .footer__social

		&__social {
            margin-top: 22px;
            .nav__social {
                margin-left: 0;
            }
		}

		// .footer__social-wrapper

		&__social-wrapper {
		}

		// .footer__social-item

		&__social-item {
		}

		// .footer__social-link

		&__social-link {
		}

		// .footer__social-text

		&__social-text {

			// .footer__social-text_play-ico

			&_play-ico {
			}

			// .footer__social-text_ico-fb

			&_ico-fb {
			}

			// .footer__social-text_ico-inst

			&_ico-inst {
			}
		}

		// .footer__menu

		&__menu {
            width: 170px;
            &:nth-child(2) {
                    margin-right: 45px;
            }
            // @extend %df;
            // @extend %jcsb;
            // flex-wrap: wrap;
            // margin-top: 9px;
            // width: 535px;
		}
 
		// .footer__menu-item

		&__menu-item {
            margin-bottom: 12px;
            // margin-right: 94px;
		}

		// .footer__menu-link

		&__menu-link {
            @extend %simple-text;
            color: $black;
            &:hover {
                color: $green;
            }
		}

		// .footer__menu-link-text

		&__menu-link-text {
		}

		// .footer__design

		&__design {
		}

		// .footer__btn

		&__btn {
            @extend %border-btn;
            @extend %border-red;
            width: 197px;
            height: 50px;
            
		}

		// .footer__btn-text

		&__btn-text {
		}

		// .footer__copy

		&__copy {
            @extend %simple-text;
            text-align: right;
            letter-spacing: 0.05em;
            margin-top: 70px;
		}
}
.icon {
}
.icon-play-ico {
}
.gray {
}
.icon-ico-fb {
}
.icon-ico-inst {
}
.coming {
	position: fixed;
	top: 0;
	right: 0;
	background-color: $white;
	z-index: 100;
	width: 643px;
	height: 100vh;
	padding: 109px 80px 0px 131px;
	transform: translateX(100%);
	@extend %ease;
	&.active {
		transform: translateX(0);
	}
	&__title {
		@extend %h2-title;
		color: $black;
		margin-top: 38px;
		margin-bottom: 20px;
	}
	&__text {
		@extend %simple-text;
		color: $gray;
		max-width: 332px;
	}
}