.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
	padding-top: 17px;
	padding-bottom: 13px;
	background-color: $white;
	z-index: 2;
}

.nav {
    @extend %df;
	@extend %aic;
	// position: relative;
	z-index: 6;
    // @extend %jcsb;
		// .nav__logo

		&__logo {
            margin-right: 48px;
		}

		// .nav__logo-link

		&__logo-link {
		}

		// .nav__menu

		&__menu {
            @extend %df;
		}

		// .nav__menu-item

		&__menu-item {
            margin-right: 23px;
            &:last-child {
                margin-right: 0;
            }
		}

		// .nav__menu-link

		&__menu-link {
            @extend %nav-menu;
            @extend %df;
            color: $black;
            &:hover {
                color: $green;
            }
		}

		// .nav__menu-text

		&__menu-text {
		}

		// .nav__menu-icon

		&__menu-icon {
			width: 10px;
			height: 5px;
		}

		// .nav__social

		&__social {
            @extend %df;
            margin-left: 44px;
		}

		// .nav__social-item

		&__social-item {
            margin-right: 11px;
            &:last-child {
                margin-right: 0;
            }
		}

		// .nav__social-link

		&__social-link {
            @extend %df;
            @extend %aic;
            @extend %jcc;
            width: 27px;
            height: 27px;
            border: 1px solid $gray inset;
			border-radius: 2px;
			transition: all .5s ease;
			&:hover {
				border-color: $green;
				.icon {
					color: $green;
				}
			}
		}

		// .nav__social-text

		&__social-text {
			@extend %dib;
			&_play-ico {
				width: 13px;
				height: 13px;
			}
			&_ico-fb {
				width: 8px;
				height: 15px;
			}
			&_ico-inst {
				width: 15px;
				height: 15px;
			}
            .icon {
				width: inherit;
				height: inherit;
				transition: all .5s ease;
			}
		}

		// .nav__btns

		&__btns {
			@extend %df;
			@extend %aic;
			margin-bottom: 6px;
			margin-left: 28px;
		}

		// .nav__btns-btn

		&__btns-btn {

			// .nav__btns-btn_sign

			&_sign {
				@extend %border-btn;
				margin-right: 6px;
			}

			// .nav__btns-btn_reg

			&_reg {
				@extend %fill-btn;
				@extend %green-btn;
			}
		}

		// .nav__btns-text

		&__btns-text {
		}
}
.icon {
}
.icon-play-ico {
}
.gray {
}
.icon-ico-fb {
}
.icon-ico-inst {
}
.menu-pupup {
	position: fixed;
	z-index: 4;
	top: 0;
	left: 50%;
	background-color: $white;
	border-radius: 3px;
	width: 1116px;
	height: 535px;
	margin-left: -(1116 / 2) + px;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
	&.active {
		top: 99px;
		opacity: 1;
		pointer-events: all;
	}
	&:after {
		position: absolute;
		top: -12px;
		left: 338px;
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 12px solid $white;
	}
		// .menu-pupup__wrap

		&__wrap {
			position: relative;
			@extend %df;
		}

		// .menu-pupup__links

		&__links {
			background-color: $dark_white;
			height: 100%;
		}

		// .menu-pupup__wrapper-links

		&__wrapper-links {
			width: 318px;
			padding-left: 54px;
			padding-bottom: 12px;
			padding-top: 12px;
			cursor: pointer;
			&:hover, &.active {
				.menu-pupup__link {
					color: $green;
				}
				.menu-pupup__icon {
					svg {
						path {
							stroke: $green;
						}
					}
				}
			}
			// .menu-pupup__wrapper-links_1

			&_1 {
				padding-top: 30px;
			}

			// .menu-pupup__wrapper-links_2

			&_2 {
			}

			// .menu-pupup__wrapper-links_3

			&_3 {
			}

			// .menu-pupup__wrapper-links_4

			&_4 {
			}

			// .menu-pupup__wrapper-links_5

			&_5 {
			}

			// .menu-pupup__wrapper-links_6

			&_6 {
			}

			// .menu-pupup__wrapper-links_7

			&_7 {
			}

			// .menu-pupup__wrapper-links_8

			&_8 {
			}

			// .menu-pupup__wrapper-links_9

			&_9 {
			}

			// .menu-pupup__wrapper-links_10

			&_10 {
			}

			// .menu-pupup__wrapper-links_11

			&_11 {
			}
		}

		// .menu-pupup__link

		&__link {
			@extend %df;
			@extend %btn-text;
			color: $black;
			@extend %ease;
			pointer-events: none;
		}

		// .menu-pupup__link-text

		&__link-text {
			@extend %dib;
			max-width: 228px;
		}

		// .menu-pupup__icon

		&__icon {
			@extend %db;
			width: 7px;
			height: 17px;
			margin-top: 2px;
			margin-left: 7px;
			svg {
				path {
					@extend %ease;
				}
			}
		}

		// .menu-pupup__wrap-content

		&__wrap-content {
			width: 100%;
			height: 535px;
			overflow-y: scroll;
			padding-top: 32px;
			padding-left: 48px;
			padding-bottom: 13px;
		}

		// .menu-pupup__cont-wrap

		&__cont-wrap {
			display: none;
			&.active {
				&.menu-pupup__cont-wrap_wrapped,
				&.menu-pupup__cont-wrap_titles {
					@extend %df;
				}
				&.menu-pupup__cont-wrap_simple {
					display: block;
				}
			}
			// .menu-pupup__cont-wrap_simple

			&_simple {
				.menu-pupup__cont-item {
					margin-bottom: 22px;
				}
			}

			// .menu-pupup__cont-wrap_wrapped

			&_wrapped {
				flex-wrap:wrap;
				// display: grid;
				// grid-template-columns: 1fr 1fr;
				.menu-pupup__cont-item {
					width: 360px;
					height: fit-content;
					// max-width: 370px;
					// min-width: 358px;
					margin-bottom: 14px;
					padding-right: 35px;
				}
			}
			
			// .menu-pupup__cont-wrap_titles

			&_titles {
				flex-wrap: wrap;
				// grid-template-columns: 1fr 1fr;
				// grid-template-rows: auto;
				// grid-template-areas: 
				// "first third",
				// "second third";
				.menu-pupup__cont-wrapper {
					width: 330px;
					&:first-child {
						order: 1;
						margin-right: 60px;
					}
					&:nth-child(2) {
						order: 3;
						margin-top: -149px;
					}
					&:last-child {
						order: 2;
					}
				}
			}
		}

		// .menu-pupup__cont-item

		&__cont-item {
			margin-bottom: 15px;
			// .menu-pupup__cont-item_title

			&_title {
				margin-bottom: 19px;
				@extend %bold;
				@extend %fz-16;
				@extend %lh-24;
				color: #4B4B4B;
			}
		}

		// .menu-pupup__cont-link

		&__cont-link {
			@extend %simple-text;
			line-height: rem(17);
			color: $gray;
			&:hover {
				color: $green;
			}
		}

		// .menu-pupup__cont-link-text

		&__cont-link-text {
		}

		// .menu-pupup__cont-wrap-titles

		&__cont-wrap-titles {

			// .menu-pupup__cont-wrap-titles_titles

			&_titles {
			}
		}

		// .menu-pupup__cont-item-titles

		&__cont-item-titles {
		}

		// .menu-pupup__cont-wrapper

		&__cont-wrapper {
		}

		// .menu-pupup__content-title

		&__content-title {
		}
}
.m-pop {
}

.m-pop {
}
.ill-head {
	padding-top: 81px;
	overflow: hidden;
	&-img {
		width: 100%;
		height: auto;
	}
}