.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr-down {
	font-size:(5/10)*1rem;
	width:(8/5)*1em;
}
.icon-ico-fb {
	font-size:(16/10)*1rem;
	width:(9/16)*1em;
}
.icon-ico-inst {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-play-ico {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-slider-arr-next {
	font-size:(23/10)*1rem;
	width:(13/23)*1em;
}
.icon-slider-arr-prev {
	font-size:(23/10)*1rem;
	width:(13/23)*1em;
}
.icon-title-arr-back {
	font-size:(25/10)*1rem;
	width:(15/25)*1em;
}
.icon-title-arr-left {
	font-size:(25/10)*1rem;
	width:(15/25)*1em;
}
