.home-page-header {
	padding-bottom: 104px;
}
.container {
}
.offer {
    @extend %df;
    @extend %jcsb;
    padding-top: 181px;
		// .offer__wrap

		&__wrap {

			// .offer__wrap_left

			&_left {
                padding-left: 39px;
                margin-top: -1px;
			}

			// .offer__wrap_right

			&_right {
			}
		}

		// .offer__title

		&__title {
            @extend %h1-title;
            color: $black;
            
		}

		// .offer__text

		&__text {
            @extend %simple-text;
            color: $gray;
            max-width: 498px;
            margin-top: 22px;
            margin-left: 3px;
            margin-bottom: 57px;
		}

		// .offer__btn

		&__btn {
            @extend %fill-btn;
            @extend %red-btn;
            width: 233px;
            height: 50px;
            margin-left: 3px;
		}

		// .offer__btn-text

		&__btn-text {
		}
}
