.home-who-weare {
    padding-top: 86px;
    padding-bottom: 81px;
    background-color: $dark_white;
}
.container {
}
.who-we {
    @extend %df;
    @extend %jcsb;
		// .who-we__wrap

		&__wrap {

			// .who-we__wrap_left

			&_left {
                padding-top: 16px;
			}

			// .who-we__wrap_right

			&_right {
                max-width: 581px;
			}
		}
        // .who-we__wrap-text

        &__wrap-text {
            margin-top: 17px;
            margin-left: 1px;
            padding-right: 80px;
            margin-bottom: 72px;
        }
		// .who-we__title

		&__title {
            @extend %h1-title;
            color: $black;
		}

		// .who-we__text

		&__text {
            @extend %simple-text;
		}

		// .who-we__cta

		&__cta {
            @extend %simple-text;
            margin-top: 48px;
		}

		// .who-we__btn

		&__btn {
            @extend %fill-btn;
            @extend %red-btn;
            width: 200px;
            height: 50px;
		}

		// .who-we__btn-text

		&__btn-text {
		}
}
