.home-grammar-sect {
    position: relative;
    padding-top: 154px;
}
.container {
}
.grammar {
    // @extend %card-grammar;
		// .grammar__title

		&__title {
            @extend %link-title;
            padding-left: 30px;
            margin-bottom: 70px;
		}

        // .grammar__wraper
        &__wraper {
            @extend %df;
            @extend %jcsb;
            flex-wrap: wrap;
            
        }

		// .grammar__wrap

		&__wrap {

			// .grammar__wrap_left

			&_left {
                margin-right: 8px;
			}

			// .grammar__wrap_right

			&_right {
                max-width: 309px;
			}
		}

		// .grammar__card

		&__card {
            position: relative;
            @extend %df;
            @extend %jcsb;
            padding: 60px 29px 0 52px;
            width: 569px;
            height: 296px;
            border: 1px solid $black;
            cursor: pointer;
            margin-bottom: 22px;
            background-color: $white;
            &:hover {
                .grammar__marker,
                .grammar__link {
                    opacity: 1;
                }
            }
			// .grammar__card_0

			&_0 {
			}

			// .grammar__card_1

			&_1 {
                .grammar{
                    &__wrap {
                        &_right {
                            margin-top: 3px;
                        }
                    }
                    &__text {
                        margin-top: 11px;
                    }
                }
			}

			// .grammar__card_2

			&_2 {
			}

			// .grammar__card_3

			&_3 {
                .grammar {
                    &__text {
                        max-width: 281px;
                    }
                }
			}
		}

		// .grammar__marker

		&__marker {
            position: absolute;
            top: 0;
            right: 0;
            @extend %df;
            @extend %aic;
            @extend %jcc;
            width: 61px;
            height: 69px;
            background-color: $green;
            @extend %ease;
            opacity: 0;
            svg {
                width: 28px;
                height: 27px;
                path {
                    stroke-width: 2px;
                    stroke: $white;
                }
            }
		}

        // .grammar__card-title
        &__card-title {
            @extend %h2-title;
            color: $black;
        }

		// .grammar__text
 
		&__text {
            @extend %simple-text;
            color: $gray;
            max-width: 311px;
            margin-top: 26px;
            margin-bottom: 15px;
		}

		// .grammar__link

		&__link {
            @extend %simple-text;
            color: $red;
            @extend %df;
            @extend %aic;
            @extend %ease;
            opacity: 0;
		}

		// .grammar__link-text

		&__link-text {
		}

		// .grammar__icon

		&__icon {
            @extend %df;
            @extend %aic;
            @extend %jcc;
            width: 8px;
            height: 17px;
            margin-left: 5px;
            path {
                stroke-width: 2px;
                stroke: $red;
            }
		}
}
