.home-presentation {
    position: relative;
    padding-top: 224px;
}
.container {
}
.presentation {
        @extend %df;
        @extend %jcsb;
		// .presentation__wrap

		&__wrap {
            
			// .presentation__wrap_left

			&_left {
                padding-top: 111px;
                padding-left: 15px;
			}

			// .presentation__wrap_right

			&_right {
                max-width: 578px;
			}
		}

		// .presentation__title

		&__title {
            @extend %link-title;
            margin-bottom: 45px;
		}

		// .presentation__slider

		&__slider {
		}

		// .presentation__slider-item

		&__slider-item {
            width: 578px;
            max-width: 578px;

			// .presentation__slider-item_0

			&_0 {
			}

			// .presentation__slider-item_1

			&_1 {
			}

			// .presentation__slider-item_2

			&_2 {
			}
		}

		// .presentation__wrap-img

		&__wrap-img {
            width: 100%;
		}

		// .presentation__wrap-btn

		&__wrap-btn {
            @extend %presentation-slider-btns-wrap;
		}

		// .presentation__btn

		&__btn {
            @extend %presentation-slider-btn;
		}

		// .presentation__subtitle

		&__subtitle {
            @extend %h2-title;
            margin-top: 20px;
		}
}
.slider {

		// .slider_presentation

		&_presentation {
		}
}
.swiper-container {
    position: relative;
}
.slider-presentation {
}
.swiper-wrapper {
}
.swiper-slide {
}
