.home-what-next {
    position: relative;
    padding-top: 313px;
}
.what-next {
    @extend %df;
    @extend %jcsb;
		// .what-next__wrap

		&__wrap {

			// .what-next__wrap_left

			&_left {
                padding-left: 30px;
			}

			// .what-next__wrap_right

			&_right {
                padding-top: 91px;
			}
		}

		// .what-next__title

		&__title {
            @extend %h1-title;
		}

		// .what-next__text

		&__text {
            @extend %simple-text;
            margin-top: 27px;
            padding-left: 2px;
            max-width: 500px;
            margin-bottom: 73px;
		}

		// .what-next__btn

		&__btn {
            @extend %fill-btn;
            width: 198px;
            height: 50px;
            @extend %red-btn;
		}

		// .what-next__btn-text

		&__btn-text {
		}
}
