.home-blog-sect {
    padding-top: 195px;
}
.container {
}
.home-blog {

		// .home-blog__title

		&__title {
            @extend %link-title;
            padding-left: 29px;
            margin-bottom: 74px;
		}

		// .home-blog__wrap

		&__wrap {
            @extend %df;
            @extend %jcsb;
		}

		// .home-blog__card

		&__card {
            position: relative;
            @extend %df;
            @extend %aic;
            @extend %jcc;
            width: 372px;
            height: 457px;
            border: 1px solid $black;
            cursor: pointer;
            &:hover {
                .home-blog {
                    &__text {
                        color: $red;
                    }
                    &__marker {
                        opacity: 1;
                    }
                }
            }
		}

		// .home-blog__varker

		&__marker {
            @extend .grammar__marker;
		}

		// .home-blog__wrap-img

		&__wrap-img {
            @extend %df;
            flex-direction: column;
            @extend %jcc;
            // max-width: 131px;
		}

        // .home-blog__figcapt
        &__figcapt {
            margin-top: 62px;
        }
        

		// .home-blog__text

		&__text {
            @extend %h2-title;
            text-align: center;
            color: $black;
		}
}
