.home-media-sect {
    position: relative;
    padding-top: 247px;
    padding-bottom: 76px;
}
.container {
}
.home-media {

		// .home-media__wrap

		&__wrap {

			// .home-media__wrap_top

			&_top {
                @extend %df;
                @extend %jcsb;
                margin-bottom: 49px;
			}

			// .home-media__wrap_bot

			&_bot {
			}
		}

		// .home-media__title-wrap

		&__title-wrap {
            padding-left: 25px;
		}

		// .home-media__title

		&__title {
            @extend %link-title;
            margin-bottom: 23px;
		}

		// .home-media__subtitle

		&__subtitle {
            @extend %simple-text;
            padding-left: 2px;
		}

		// .home-media__wrap-btn

		&__wrap-btn {
            @extend %df;
            padding-top: 3px;
		}

		// .home-media__btn

		&__btn {
            @extend %df;
            @extend %aic;
            @extend %jcc;
            width: 61px;
            height: 69px;
            border: 1px solid $black;
            @extend %ease;
            svg {
                width: 8px;
                height: 17px;
                path {
                    @extend %ease;
                    stroke: $black;
                    stroke-width: 2px;
                }
            }
            &:hover {
                border-color: $green;
                svg {
                    path {
                        stroke: $green;
                    }
                }
            }
		}

		// .home-media__slider

		&__slider {
		}

		// .home-media__slider-item

		&__slider-item {
            position: relative;
            display: block;
            width: 372px;
			// .home-media__slider-item_0

			&_0 {
			}

			// .home-media__slider-item_1

			&_1 {
			}

			// .home-media__slider-item_2

			&_2 {
			}

			// .home-media__slider-item_3

			&_3 {
			}

			// .home-media__slider-item_4

			&_4 {
			}

			// .home-media__slider-item_5

			&_5 {
			}
		}

		// .home-media__wrap-img

		&__wrap-img {
            width: 100%;
            height: 209px;
            border-radius: 3px;
            overflow: hidden;
		}

		// .home-media__ico

		&__ico {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -20px;
            margin-top: -20px;
            width: 40px;
            height: 40px;
            @extend %df;
            @extend %aic;
            @extend %jcc;
            border: 1px solid $white;
            background-color: rgba($color: $white, $alpha: .3);
            border-radius: 50%;
		}
}
.h-med-prev {
}
.h-med-next {
}
.slider {

		// .slider_home-media

		&_home-media {
		}
}
.swiper-container {
}
.slider-home-media {
}
.h-med {
}
.swiper-wrapper {
}
.swiper-slide {
}
.icon {
}
.icon-play-ico {
}
.white {
}
