.blog-page-header {
}
.blog-head {
    @extend %df;
    @extend %jcsb;
    padding-top: 69px;
		// .blog-head__wrap

		&__wrap {

			// .blog-head__wrap_left

			&_left {
                padding-left: 106px;
			}

			// .blog-head__wrap_right

			&_right {
                max-width: 583px;
			}
		}

		// .blog-head__title

		&__title {
            @extend %h1-title;
            color: $black;
		}

		// .blog-head__text

		&__text {
            @extend %simple-text;
            color: $gray;
            margin-top: 25px;
            padding-left: 6px;
		}
}
