.blog-tabs-sect {
    padding-top: 143px;
    padding-bottom: 24px;
}
.container {
}
.blog-tabs {

		// .blog-tabs__wrap

		&__wrap {

			// .blog-tabs__wrap_top

			&_top {
                @extend %df;
                @extend %aic;
                @extend %jcc;
                margin-bottom: 61px;
			}

			// .blog-tabs__wrap_bot

			&_bot {
			}
		}

		// .blog-tabs__tab-wrapper

		&__tab-wrapper {
            @extend %df;
		}

		// .blog-tabs__tab-titl-item

		&__tab-titl-item {
            margin-right: 167px;
            &:last-child {
                margin-right: 0;
            }
            // &:nth-child(2) {
            //     margin: 0 50px;
            // }
		}

		// .blog-tabs__tab-titl-text

		&__tab-titl-text {
            @extend %h2-title;
            @extend %ease;
            color: $black;
            &.active {
                color: $red;
            }
            &:hover {
                color: $red;
            }
		}

		// .blog-tabs__cont-wrapper

		&__cont-wrapper {
            display: none;
            flex-wrap: wrap;
            @extend %jcsb;
            &.active {
                @extend %df;
            }
		}

		// .blog-tabs__card

		&__card {
            width: 369px;
            margin-bottom: 64px;
		}

		// .blog-tabs__cont-img

		&__cont-img {
            width: 100%;
            overflow: hidden;
		}

		// .blog-tabs__tabs-content

		&__tabs-content {
            padding-top: 15px;
		}

		// .blog-tabs__cont-title

		&__cont-title {
            @extend %simple-text;
            color: $black;
            margin-bottom: 14px;
		}

		// .blog-tabs__date

		&__date {
            @extend %regular;
            font-size: rem(18);
            letter-spacing: 0.05em;
            color: #9E9E9E;
		}
}
.active {
}
