.learning-page-header {
    padding-bottom: 64px;
}
.ill-head {
}
.container {
}
.learn-head {
    @extend %df;
    @extend %jcsb;
    padding-top: 62px;
		// .learn-head__wrap

		&__wrap {

			// .learn-head__wrap_right

			&_right {
                max-width: 583px;
                padding-top: 7px;
            }
            
            // .learn-head__wrap_left

			&_left {
                padding-left: 71px;
			}
		}

		// .learn-head__title

		&__title {
            @extend %h1-title;
            color: $black;
		}

		// .learn-head__text

		&__text {
            @extend %simple-text;
            color: $gray;
            margin-top: 22px;
            padding-left: 6px;
		}
}
.learning-grammar-sect {
}
