.learn-links-sect {
    padding-top: 115px;
    padding-bottom: 102px;
}
.container {
}
.learn-links {
    @extend %df;
    @extend %jcsb;
        
        // .learn-links__wrap

		&__wrap {

			// .learn-links__wrap_left

			&_left {
                max-width: 424px;
			}

			// .learn-links__wrap_right

			&_right {
                width: 579px;
			}
		}

		// .learn-links__wrapper

		&__wrapper {
		}

		// .learn-links__item

		&__item {
            
            margin-bottom: 10px;
			// .learn-links__item_title

			&_title {
                margin-bottom: 13px;
                margin-top: 40px;
                &-first {
                    margin-top: 0;
                    margin-bottom: 40px;
                }
                &-top {
                    margin-top: 0;
                }
			}

			// .learn-links__item_subtitle

			&_subtitle {
                margin-bottom: 10px;
			}

			// .learn-links__item_sublink

			&_sublink {
                padding-left: 30px;
                margin-bottom: 13px;
			}
		}

		// .learn-links__title

		&__title {
		}

		// .learn-links__title-link

		&__title-link {
            @extend %h2-title;
            color: $black;
		}

		// .learn-links__link

		&__link {
            @extend %simple-text;
            line-height: rem(18);
            color: $gray;
            &:hover {
                color: $green;
            }
		}

		// .learn-links__sub-subtitle

		&__sub-subtitle {
		}

		// .learn-links__subtitle-link

		&__subtitle-link {
            @extend %bold;
            @extend %fz-16;
            @extend %lh-24;
            color: $gray;
		}
}
