@include bp(1024px) {
    .blog-head {
        &__wrap {
            &_left {
                width: 239px;
            }
            &_right {
                max-width: 403px;
            }
        }
        &__title {
            @extend %title-adapt;
        }
        &__text {
            @extend %text-adapt;
        }
    }
    .blog-tabs-sect {
        padding-top: 80px;
    }
    .blog-tabs {
        &__tab-titl-item {
            margin-right: 80px;
        }
        &__tab-titl-text {
            @extend %small-title-adapt;
        }
    }
}