@include bp(766px) {
    .blog-head {
        // flex-direction: column;
        &__wrap {
            &_left {
                display: none;
            }
        }
    }
    .blog-tabs {
        &__tab-wrapper {
            width: 100%;
            justify-content: space-between;
        }
        &__tab-titl-item {
            margin-right: 0;
        }
        &__card {
            width: 100%;
        }
    }
}