@include bp(1190px) {
    .blog-head {
        &__wrap {
            &_left {
                padding-left: 0;
            }
        }
    }
    .blog-tabs {
        &__wrap {
            &_bot {
                
            }
        }
        &__cont-wrapper {
            justify-content: space-around;
        }
    }
}