%border-btn {
    @extend %df;
    @extend %jcc;
    @extend %aic;
    border: 1px solid $black;
    border-radius: 2px;
    padding: 0 30px;
    height: 45px;
    @extend %btn-text;
    color: $black;
    @extend %ease;
    &:hover {
        border-color: $green;
        color: $green;
    }
}
%fill-btn {
    @extend %df;
    @extend %jcc;
    @extend %aic;
    @extend %btn-text;
    color: $white;
    border-radius: 2px;
    padding: 0 26px;
    height: 45px;
    @extend %ease;
}
%green-btn {
    background-color: $green;
    &:hover {
        background-color: #2E8E00;
    }
}
%red-btn {
    background-color: $red;
    &:hover {
        background-color: #D62A20;
    }
}
%presentation-slider-btns-wrap {
    @extend %df;
    position: absolute;
    bottom: 4px;
    right: 0;
    z-index: 10;
}
%presentation-slider-btn {
    width: 60px;
    height: 70px;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %ease;
    background-color: transparent;
    border: 1px solid $black;
    svg {
        width: 13px;
        height: 23px;
        path {
            @extend %ease;
            stroke: $white;
            stroke-width: 2px;
        }
    }
    &:hover {
        background-color: $white;
        svg {
            path {
                stroke: $black;
            }
        }
    }
}
%presentations-white-bg {
    %presentation-slider-btn {
        svg {
            path {
                stroke: $black;
            }
        }
        &:hover {
            background-color: $green;
            svg {
                path {
                    stroke: $white;
                }
            }
        }
    }
}
%arrow-back {
    @extend %dib;
    width: 13px;
    height: 28px;
    svg {
        path {
            @extend %ease;
            stroke: $black;
            stroke-width: 4px;
        }
    }
    &:hover {
        svg {
            path {
                stroke: $green;
            }
        }
    }
}
%border-red {
    color: $red;
    background-color: transparent;
    border-color: $red;
    &:hover {
        border-color: $red;
        color: $white;
        background-color: $red;
    }
}
%border-green {
    color: $green;
    background-color: transparent;
    border-color: $green;
    &:hover {
        border-color: $green;
        color: $white;
        background-color: $green;
    }
}