%card-grammar {
    @extend %db;
        &__card {
            
            // .grammar__card_0

            &_0 {
            }

            // .grammar__card_1

            &_1 {
            }

            // .grammar__card_2

            &_2 {
            }

            // .grammar__card_3

            &_3 {
            }
        }

        &__wrap {

			// .grammar__wrap_left

			&_left {
			}

			// .grammar__wrap_right

			&_right {
			}
		}

		// .grammar__marker

		&__marker {
            width: 61px;
            height: 69px;
            background-color: $green;
            svg {
                width: 8px;
                height: 17px;
                path {
                    stroke-width: 2px;
                    stroke: $white;
                }
            }
		}

		// .grammar__text

		&__text {
		}

		// .grammar__link

		&__link {
		}

		// .grammar__link-text

		&__link-text {
		}

		// .grammar__icon

		&__icon {
		}
}