@include bp(1190px) {
    .test {
        flex-direction: column;
        justify-content: center;
        &__wrap {
            &_left {
                margin: 0 auto;
                margin-bottom: 50px;
            }
        }
    }
}