@include bp(1024px) {
    .test {
        &__wrap {
            &_right {
                min-width: auto;
                max-width: 490px;
                margin: 0 auto;
            }
        }
        &__title {
            // @extend %micro-title-adapt;
        }
        &__item-answ {
            padding-left: 0;
        }
        &__item-title, &__test__inp-text {
            // @extend %text-adapt;
        }
        &__btns {
            padding-left: 0;
        }
        &__next {
            width: 129px;
            height: 30px;
        }
        &__text-res {
            width: 155px;
            height: 30px;
        }
        &__next, &__text-res {
            @extend %btn-agapt;
            padding: 0;
        }
    }
    .test-adwise__title {
        @extend %title-adapt;
        padding-left: 0;
    }
}