@include bp(766px) {
    .test {
        &__wrap {
            &_left {
                width: 100%;
                height: auto;
            }
        }
        &__title {
            font-size: rem(16);
            line-height: rem(21);
        }
        &__item-title {
            font-size: rem(12);
            line-height: rem(18);
        }
        &__inp-text {
            font-size: rem(12);
            line-height: rem(18);
        }
    }
}