include mainBlock/_doc
header.about-page-header.ill-head
    img(src=`${aboutPage.header}`, alt="Header illustration")
    .container
        .about-us
            .about-us__wrap.about-us__wrap_left
                img(src=`${aboutPage.ill}`, alt="Illustration")
            .about-us__wrap.about-us__wrap_right
                h1.about-us__title= aboutPage.title
                p.about-us__text
                    = aboutPage.text.split('<br>')[0]
                    br
                    = aboutPage.text.split('<br>')[1]
                    br
                    = aboutPage.text.split('<br>')[2]
                    br
                    = aboutPage.text.split('<br>')[3]
                button.about-us__btn.com
                    span.about-us__btn-text= aboutPage.btn
    

.overlay
include mainBlock/_footer
include mainBlock/_scripts

        