include mainBlock/_doc

header.blog-page-header.ill-head
    img(src=`${blogP.header}`, alt="Illustration")
    .container
        .blog-head
            .blog-head__wrap.blog-head__wrap_left
                img(src=`${blogP.ill}`, alt="Illustration")
            .blog-head__wrap.blog-head__wrap_right
                h1.blog-head__title= blogP.title
                p.blog-head__text
                    = blogP.text.split('<br>')[0]
                    br
                    = blogP.text.split('<br>')[1]
                    br
                    = blogP.text.split('<br>')[2]
                    br
                    = blogP.text.split('<br>')[3]

- const tabT = blogP.tabsTitle;
- const tabC = blogP.tabContentItems;
+section('blog-tabs-sect')
    .blog-tabs
        .blog-tabs__wrap.blog-tabs__wrap_top
            ul.blog-tabs__tab-wrapper
                - for(let i = 0; i < tabT.length; i++)
                    li.blog-tabs__tab-titl-item
                        button(data-id=`${i}` class=`blog-tabs__tab-titl-text bl-titl ${(i == 0) ? 'active' : ''}`)
                            span= tabT[i]
        .blog-tabs__wrap.blog-tabs__wrap_bot
            .blog-tabs__cont-wrapper.bl-cont(data-id="0").active
                - for(let i = 0; i < tabC.length; i++)
                    .blog-tabs__card
                        figure.blog-tabs__cont-img
                            img(src=`${media}blog-item-${i}.jpg`, alt="Blog item {title can be right here}")
                        .blog-tabs__tabs-content
                            h3.blog-tabs__cont-title= tabC[i][0]
                            p.blog-tabs__date= tabC[i][1]
            .blog-tabs__cont-wrapper.bl-cont(data-id="1")
                - for(let i = 0; i < tabC.length; i++)
                    .blog-tabs__card
                        figure.blog-tabs__cont-img
                            img(src=`${media}blog-item-${i}.jpg`, alt="Blog item {title can be right here}")
                        .blog-tabs__tabs-content
                            h3.blog-tabs__cont-title= tabC[i][0]
                            p.blog-tabs__date= tabC[i][1] + ' Language'
            .blog-tabs__cont-wrapper.bl-cont(data-id="2")
                - for(let i = 0; i < tabC.length; i++)
                    .blog-tabs__card
                        figure.blog-tabs__cont-img
                            img(src=`${media}blog-item-${i}.jpg`, alt="Blog item {title can be right here}")
                        .blog-tabs__tabs-content
                            h3.blog-tabs__cont-title= tabC[i][0]
                            p.blog-tabs__date= tabC[i][1] + ' Learning'
                
                
.overlay
include mainBlock/_footer
include mainBlock/_scripts