include mainBlock/_doc

+section('learn-material-sect')
    - const bar = course.sitebar; 
    .learn-material
        .learn-material__sitebar
            ul.learn-material__wraper
                - for(let k in bar)
                    li.learn-material__item
                        h2.learn-material__item-title
                            button.learn-material__item-btn.s-opener(data-id=`${bar[k][0]}`)
                                span= k
                                i
                                    svg(viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M7 1L4 4L1 1" stroke-linecap="round" stroke-linejoin="round")
                        ul.learn-material__inset.s-op(data-id=`${bar[k][0]}`)
                            - for(let i = 1; i < bar[k].length; i++)
                                li.learn-material__ins-item
                                    a(href="#").learn-material__ins-link
                                        span= bar[k][i]
        .learn-material__content
            img(src=`${course.ill}`, alt="illustration")
            h1= course.title
            p
                = course.text.split('<br>')[0]
                br
                = course.text.split('<br>')[1]
                br
                = course.text.split('<br>')[2]
                br
                = course.text.split('<br>')[3]


.overlay
include mainBlock/_footer
include mainBlock/_scripts