include mainBlock/_doc

+section('learn-material-sect')
    - const bar = course.sitebar; 
    .learn-material
        .learn-material__sitebar
            ul.learn-material__wraper
                - for(let k in bar)
                    li.learn-material__item
                        h2.learn-material__item-title
                            button.learn-material__item-btn.s-opener(data-id=`${bar[k][0]}`)
                                span= k
                                i
                                    svg(viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M7 1L4 4L1 1" stroke-linecap="round" stroke-linejoin="round")
                        ul.learn-material__inset.s-op(data-id=`${bar[k][0]}`)
                            - for(let i = 1; i < bar[k].length; i++)
                                li.learn-material__ins-item
                                    a(href="#").learn-material__ins-link
                                        span= bar[k][i]
        - const second = course.secondLesson;
        .learn-material__content
            h1= second.title
            p= second.text
            h2= second.titleList
            ol
            - for(let i = 0; i < second.list.length; i++)
                li
                    span
                    p
                        = second.list[i][0].split('<br>')[0]
                        br
                        = second.list[i][0].split('<br>')[1]
                    audio(src=`${second.audioSrc}` data-title=`${second.list[i][1]}`)



.overlay
include mainBlock/_footer
include mainBlock/_scripts