include mainBlock/_doc
- const homeHeader = homePage.heroSect;
- const whoWeAre = homePage.whoWeAreSect;
header.home-page-header
    .container
        .offer
            .offer__wrap.offer__wrap_left
                h1.offer__title= homeHeader.title
                p.offer__text= homeHeader.text
                button.offer__btn.com
                    span.offer__btn-text= homeHeader.btn
            .offer__wrap.offer__wrap_right
                img(src=`${homeHeader.ill}`, alt="Illustration")
section.home-who-weare
    .container
        .who-we
            .who-we__wrap.who-we__wrap_left
                img(src=`${whoWeAre.ill}`, alt="Illustration")
            .who-we__wrap.who-we__wrap_right
                h2.who-we__title=whoWeAre.title
                .who-we__wrap-text
                    p.who-we__text
                        = whoWeAre.text.split('<br>')[0]
                        br
                        = whoWeAre.text.split('<br>')[1]
                    p.who-we__cta= whoWeAre.call
                a.who-we__btn(href="about.html")
                    span.who-we__btn-text= whoWeAre.btn
section.home-grammar-sect
    img(src=`${imgBg}bg-ill-present-top.svg`, alt="Illustration" class=`bg-img bg-img_grammar-bot`)
    .container
        .grammar
            +titleLink(grammar.title, 'grammar__title', 'learning-main.html')
            .grammar__wraper
                +grammar('grammar', 'course.html')

+section('home-presentation', { name: 'bg-ill-present-bot.svg', mod: 'home-present'})
    .presentation
        .presentation__wrap.presentation__wrap_left
            img(src=`${illustrations}ill-present-sect.svg`, alt="Illustration")
        .presentation__wrap.presentation__wrap_right
            +titleLink(homePresent.title, 'presentation__title', 'presentations.html')
            a(href="one-presentation.html").presentation__slider
                +Slider('presentation', homePresent.items[1], 'slider-cat-present.jpg', 'presentation', 'h-pres', true)
            h2.presentation__subtitle= homePresent.items[0]

- const whatN = homePage.whatNext;            
+section('home-what-next', { name: 'bg-what-next-bot.svg', mod: 'what-next' })
    .what-next
        .what-next__wrap.what-next__wrap_left
            h2.what-next__title= whatN.title
            p.what-next__text= whatN.text
            a(href="test.html").what-next__btn
                span.what-next__btn-text= whatN.btn
        .what-next__wrap.what-next__wrap_right
            img(src=`${illustrations}ill-what-next-sect.svg`, alt="Illustration")
- const blog = homePage.blogSect;
+section('home-blog-sect')
    .home-blog
        +titleLink(blog.title, 'home-blog__title', 'blog.html')
        .home-blog__wrap
            - for(let i = 0; i < blog.items.length; i++)
                .home-blog__card.ink-go(data-href=`blog.html`)
                    .home-blog__marker
                        svg(viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M2 2L13 12.5L2 23" stroke-linecap="round" stroke-linejoin="round")
                    figure.home-blog__wrap-img
                        img(src=`${illustrations}ill-blog-topik-${blog.items[i].split('&&')[0]}.svg`, alt=`${blog.items[i].split('&&')[1]}`)
                        figcaption.home-blog__figcapt
                            a(href="blog.html").home-blog__text= blog.items[i].split('&&')[1]


- const mediaSect = homePage.mediaSect;
+section('home-media-sect', { name: 'pillow-bg.svg', mod: 'home-media' })
    .home-media
        .home-media__wrap.home-media__wrap_top
            .home-media__title-wrap
                +titleLink(mediaSect.title, 'home-media__title', 'media.html')
                p.home-media__subtitle= mediaSect.subtitle
            div(class=`home-media__wrap-btn`)
                button(class=`home-media__btn home-media__btn__prev h-med-prev`)
                    svg(viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M12 22L1 11.5L12 1"  stroke-linecap="round" stroke-linejoin="round")            
                button(class=`home-media__btn home-media__btn__next h-med-next`)
                    svg(viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M1 1L12 11.5L1 22" stroke-linecap="round" stroke-linejoin="round")
        .home-media__wrap.home-media__wrap_bot
            +Slider('media', 6, [ 'media/blog-item-0.jpg',
            'media/blog-item-1.jpg',
            'media/blog-item-2.jpg',
            'media/blog-item-3.jpg',
            'media/blog-item-1.jpg',
            'media/blog-item-2.jpg',
            'media/blog-item-3.jpg',], 'home-media', 'h-med', false)
            

.overlay
include mainBlock/_footer
include mainBlock/_scripts