include mainBlock/_doc

header.learning-page-header.ill-head
    img(src=`${learnMain.header}`, alt="Image")
    .container
        .learn-head
            .learn-head__wrap.learn-head__wrap_left
                img(src=`${learnMain.ill}`, alt="")
            .learn-head__wrap.learn-head__wrap_right
                h2.learn-head__title= learnMain.title
                p.learn-head__text
                    = learnMain.text.split('<br>')[0]
                    br
                    = learnMain.text.split('<br>')[1]
                    br
                    = learnMain.text.split('<br>')[2]
                    br
                    = learnMain.text.split('<br>')[3]

+section('learning-grammar-sect')
    .grammar
        .grammar__wraper
            +grammar('grammar')
- const learnLeft = learnMain.materialLeft;
- const learnRight = learnMain.materialRight;
section.learn-links-sect#links
    .container
        .learn-links
            .learn-links__wrap.learn-links__wrap_left
                ul.learn-links__wrapper
                    - for(let i = 0; i < learnLeft.length; i++)
                        - if(~learnLeft[i].indexOf('<main>'))
                            li(class=`learn-links__item_title ${(i == 0) ? `learn-links__item_title-first` : ''}`)
                                h2.learn-links__title
                                    a(href="#").learn-links__title-link
                                        span= learnLeft[i].split('<main>')[1]
                        - else if (~learnLeft[i].indexOf('<link>'))
                            li.learn-links__item
                                a(href="#").learn-links__link
                                    span= learnLeft[i].split('<link>')[1]
            .learn-links__wrap.learn-links__wrap_right
                ul.learn-links__wrapper
                    - for(let i = 0; i < learnRight.length; i++)
                        - if(~learnRight[i].indexOf('<main>'))
                            li(class=`learn-links__item_title ${(i == 0) ? `learn-links__item_title-top` : ''}`)
                                h2.learn-links__title
                                    a(href="#").learn-links__title-link
                                        span= learnRight[i].split('<main>')[1]
                        - else if (~learnRight[i].indexOf('<link>'))
                            li.learn-links__item
                                a(href="#").learn-links__link
                                    span= learnRight[i].split('<link>')[1]
                        - else if (~learnRight[i].indexOf('<subMain>'))
                            li.learn-links__item_subtitle
                                h3.learn-links__sub-subtitle
                                    a(href="#").learn-links__subtitle-link
                                        span= learnRight[i].split('<subMain>')[1]
                        - else if (~learnRight[i].indexOf('<sub-link>'))
                            li.learn-links__item_sublink
                                a(href="#").learn-links__link
                                    span= learnRight[i].split('<sub-link>')[1]



.overlay
include mainBlock/_footer
include mainBlock/_scripts