include mainBlock/_doc

header.presen-inside-header
    .container
        .pres-ins
            .pres-ins__wrap.pres-ins__wrap_left
                .pres-ins__wrap-title
                    a(href=`#`).pres-ins__link-back
                        i
                            svg(viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M12 22L1 11.5L12 1"  stroke-linecap="round" stroke-linejoin="round")
                    h1.pres-ins__title Италия. Летний Weekend.
                .pres-ins__wrapper
                    p.pres-ins__text= presIns.text
                    ul.pres-ins__tags
                        li.pres-ins__tags-item
                            span.pres-ins__tags-text= presIns.tags[0]
                        li.pres-ins__tags-item
                            span.pres-ins__tags-text= presIns.tags[1]
                        li.pres-ins__tags-item
                            span.pres-ins__tags-text= presIns.tags[2]
            .pres-ins__wrap.pres-ins__wrap_right
                .media-one-video
                    iframe(src="https://www.youtube.com/embed/NeQM1c-XCDc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

- const sections = mediaLib.sections;
    +section(`media-themes-sect media-themes-sect_without-bg media-one-like`)
        .media-theme
            .media-theme__wrap.media-theme__wrap_top
                h2.media-theme__title Вам так же может понравиться
            .media-theme__wrap.media-theme__wrap_bot
                ul.media-theme__medias
                    - for(let i = 0; i < sections['О Италии'].items; i++)
                        li.media-theme__item
                            a(href="media-one.html").media-theme__link
                                figure.media-theme__wrap-img
                                    img(src=`${media}${sections['О Италии'].itemImg}${i}.jpg`, alt="Video placeholder")
                                .media-theme__icon
                                    +icon('play-ico', 'white')

.overlay
include mainBlock/_footer
include mainBlock/_scripts