include mainBlock/_doc

header.media-page-header.ill-head
    img(src=`${mediaLib.header}`, alt="Image")
    .container
        .media-head
            .media-head__wrap.media-head__wrap_left
                img(src=`${mediaLib.ill}`, alt="Illustration")
            .media-head__wrap.media-head__wrap_right
                h1.media-head__title= mediaLib.title
                p.media-head__text
                    = mediaLib.text.split('<br>')[0]
                    br
                    = mediaLib.text.split('<br>')[1]
                    br
                    = mediaLib.text.split('<br>')[2]
                    br
                    = mediaLib.text.split('<br>')[3]

- const sections = mediaLib.sections;
    - for(let k in sections)

        +section(`media-themes-sect ${(sections[k].bg != 'bg') ? 'media-themes-sect_without-bg' : ''}`)
            .media-theme
                .media-theme__wrap.media-theme__wrap_top
                    h2.media-theme__title= k
                    p.media-theme__text= sections[k].subtitle
                .media-theme__wrap.media-theme__wrap_bot
                    ul.media-theme__medias
                        - for(let i = 0; i < sections[k].items; i++)
                            li.media-theme__item
                                a(href="media-one.html").media-theme__link
                                    figure.media-theme__wrap-img
                                        img(src=`${media}${sections[k].itemImg}${i}.jpg`, alt="Video placeholder")
                                    .media-theme__icon
                                        +icon('play-ico', 'white')
                    a(href="media-topick-library.html").media-theme__btn
                        span= sections[k].btn

    .overlay
include mainBlock/_footer
include mainBlock/_scripts