include mainBlock/_doc

+section('media-lib-sect')
    .media-lib
        .media-lib__wrap.media-lib__wrap_top
            .media-lib__title-wrap
                a(href="#").media-lib__link-back
                    i
                        svg(viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M12 22L1 11.5L12 1"  stroke-linecap="round" stroke-linejoin="round")
                h1.media-lib__title= mediaTopLib.title
            p.media-lib__text= mediaTopLib.text
        .media-lib__wrap.media-lib__wrap_bot
            ul.media-lib__wrapper
                - for(let i = 0; i < mediaTopLib.item; i++)
                    li.media-lib__item
                        a(href="media-one.html").media-lib__link
                            figure.media-lib__wrap-img
                                img(src=`${media}${mediaTopLib.img}${i}.jpg`, alt="Img")
                            .media-lib__icon
                                +icon('play-ico', 'white')

.overlay
include mainBlock/_footer
include mainBlock/_scripts