include mainBlock/_doc

header.presen-inside-header
    .container
        .pres-ins
            .pres-ins__wrap.pres-ins__wrap_left
                .pres-ins__wrap-title
                    a(href=`#`).pres-ins__link-back
                        i
                            svg(viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M12 22L1 11.5L12 1"  stroke-linecap="round" stroke-linejoin="round")
                    h1.pres-ins__title= presIns.title
                .pres-ins__wrapper
                    p.pres-ins__text= presIns.text
                    ul.pres-ins__tags
                        li.pres-ins__tags-item
                            span.pres-ins__tags-text= presIns.tags[0]
                        li.pres-ins__tags-item
                            span.pres-ins__tags-text= presIns.tags[1]
                        li.pres-ins__tags-item
                            span.pres-ins__tags-text= presIns.tags[2]
            .pres-ins__wrap.pres-ins__wrap_right
                .all-pres__item
                    +Slider('presentation', 5, presIns.bigPresentImg, 'all-pres', 'pres-all', true)
- const itemsLike = presIns.items;
+section('may-like-sect')
    h2.may-like__title= presIns.itemsTitle
    .all-pres
        - for(let i = 0; i < itemsLike.length; i++)
            .all-pres__item.ink-go(data-href='one-presentation.html')
                +Slider('presentation', itemsLike[i][0], itemsLike[i][1], 'all-pres', 'pres-all', true)
                h2.all-pres__text
                    a(href="#").all-pres__text-link= itemsLike[i][2]
.overlay
include mainBlock/_footer
include mainBlock/_scripts