include mainBlock/_doc

header.present-page-header.ill-head
    img(src=`${present.header}`, alt="Header illustration")
    .container
        .present-page
            .present-page__wrap.present-page__wrap_left
                img(src=`${present.ill}`, alt="Illustration")
            .present-page__wrap.present-page__wrap_right
                h1.present-page__title= present.title
                p.present-page__text
                    = present.text.split('<br>')[0]
                    br
                    = present.text.split('<br>')[1]

- const presItems = present.items;
+section('pres-page-sect')
    .all-pres
        - for(let i = 0; i < presItems.length; i++)
            .all-pres__item.ink-go(data-href='one-presentation.html')
                +Slider('presentation', presItems[i][0], presItems[i][1], 'all-pres', 'pres-all', true)
                h2.all-pres__text
                    a(href="#").all-pres__text-link= presItems[i][2]
            

.overlay
include mainBlock/_footer
include mainBlock/_scripts