include mainBlock/_doc

+section('test-sect')
    .test
        .test__wrap.test__wrap_left
            img(src=`${testing.ill}`, alt="Illustration")
        .test__wrap.test__wrap_right
            .test__wrap-title
                h1.test__title= testing.title
                .test__num
                    span.num-t 1
                    = ' / '
                    span 10
            - const tests = testing.tests;
            form.test__wrapper-test.t-from
                - for(let k in tests)
                    div(class=`test__item t-itm ${(+k == 1) ? 'active' : (+k == 2) ? 'next' : ''}` data-id=`${k}`)
                        .test__item-title-wrap
                            .test__item-icon
                                img(src=`${illustrations}test-${k}.svg`, alt="Illustration test number")
                            h2.test__item-title= tests[k].title
                        - let inp = tests[k].answ;
                        ul.test__item-answ
                            - for(let i = 0; i < inp.length; i++)
                                li.test__inp-item
                                    label.test__inp-label
                                        input(type="radio" name=`${k}` class=`test__input t-inp ${(~inp[i].indexOf('right')) ? 'right' : ''}` value=`${(~inp[i].indexOf('right')) ? 10 : ''}`)
                                        span.test__inp-text= inp[i]
                .test__btns
                    button.test__next.t-nxt= testing.btnNext
                    button.test__text-res.t-num-res
                        = 'Результат: 10 баллов'



.overlay
include mainBlock/_footer
include mainBlock/_scripts