include mainBlock/_doc
- const res = testing.result;
+section('test-sect')
    .test
        .test__wrap.test__wrap_left
            img(src=`${testing.ill}`, alt="Illustration")
        .test__wrap.test__wrap_right
            .test__wrap-title
                h1.test__title= res.title
            .test__result-wrap
                .test__result-count
                    = res.howMuch.split('<strong>')[0]
                    strong
                        = res.howMuch.split('<strong>')[1]
                .test__result-test= res.text
                a(href="#adwise").test__result-btn.sc-btn= res.btn
- const tabC = blogP.tabContentItems;
- const sections = mediaLib.sections;
section.test-adwise-sect(name='adwise')
    .container
        .test-adwise
            .test-adwise__grammar
                h2.test-adwise__title Грамматика для Вас.
                .test-adwise__grammar-wrap
                    +grammarTestResult('grammar')
            .test-adwise__blog
                h2.test-adwise__title Статьи
                .blog-tabs__cont-wrapper.active
                    - for(let i = 0; i < 3; i++)
                        .blog-tabs__card
                            figure.blog-tabs__cont-img
                                img(src=`${media}blog-item-${i}.jpg`, alt="Blog item {title can be right here}")
                            .blog-tabs__tabs-content
                                h3.blog-tabs__cont-title= tabC[i][0]
                                p.blog-tabs__date= tabC[i][1]
            .test-adwise__media
                h2.test-adwise__title Видеоматериалы
                .media-theme__wrap.media-theme__wrap_bot
                    ul.media-theme__medias
                        - for(let i = 0; i < sections['О Италии'].items; i++)
                            li.media-theme__item
                                a(href="#").media-theme__link
                                    figure.media-theme__wrap-img
                                        img(src=`${media}${sections['О Италии'].itemImg}${i}.jpg`, alt="Video placeholder")
                                    .media-theme__icon
                                        +icon('play-ico', 'white')


.overlay
include mainBlock/_footer
include mainBlock/_scripts