@include bp(766px) {
    .learn-material-sect {
        padding-top: 79px;
        padding-bottom: 70px;
    }
    .learn-material {
        flex-direction: column;
        &__content {
            padding: 0;
            order: -1;
            padding-bottom: 24px;
        }
        &__wraper {
            width: 100%;
        }
        &__inset {
            padding-right: 27px;
        }
    }
}