@include bp(1024px) {
    .learn-material-sect {
        padding-top: 100px;
    }
    .learn-material {
        &__wrapper {
            width: 211px;
        }
        &__item {
            padding-top: 12px;
        }
        &__content {
            padding-left: 41px;
            padding-top: 0px;
            padding-right: 0;
            img {
                width: 153px;
                height: 73px;
                margin-bottom: 36px;
            }
            p {
                font-size: rem(14);
                line-height: rem(21);
            }
        }
    }
}