mixin section($class, img)
    - img = img || null
    section(class=`${$class}`)
        - if (img != null)
            img(src=`${imgBg}${img.name}`, alt="Illustration" class=`bg-img bg-img_${img.mod}`)
        .container
            if block
                block
            else
                p No content providet

mixin icon(name,mod)
    - mod = mod || '';
    svg(class="icon icon-" + name + ' ' + mod)
        use(xlink:href="img/sprinte/sprite.svg#" + name)


mixin titleLink(text, $class, link)
    - link = link || '#'
    h2(class=`${$class}`)
        a(href=`${link}`)
            = text
            i
                svg(viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M2 2L13 12.5L2 23" stroke-width="4" stroke-linecap="round" stroke-linejoin="round")


mixin grammar($class, link)
    - link = link || ''
    - const items = grammar.items;
    - for(let i = 0; i < items.length; i++)
        div(data-href=`${link}` class=`${$class}__card ${$class}__card_${i} ink-go`)
            div(class=`${$class}__marker`)
                svg(viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M2 2L13 12.5L2 23" stroke-linecap="round" stroke-linejoin="round")
            figure(class=`${$class}__wrap ${$class}__wrap_left`)
                img(src=`${items[i][2]}`, alt="Image")
            div(class=`${$class}__wrap ${$class}__wrap_right`)
                h3(class=`${$class}__card-title`)= items[i][0]
                p(class=`${$class}__text`)
                    - if (~items[i][1].indexOf('<br>'))
                        = items[i][1].split('<br>')[0]
                        br
                        = items[i][1].split('<br>')[1]
                    - else 
                        = items[i][1]
                a(href=`${link}` class=`${$class}__link`)
                    span(class=`${$class}__link-text`)= items[i][3]
                    i(class=`${$class}__icon`)
                        svg(viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M2 2L13 12.5L2 23" stroke-linecap="round" stroke-linejoin="round")

mixin grammarTestResult($class, link)
    - link = link || ''
    - const items = grammar.items;
    - for(let i = 0; i < 2; i++)
        div(data-href=`${link}` class=`${$class}__card ${$class}__card_${i} ink-go`)
            div(class=`${$class}__marker`)
                svg(viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M2 2L13 12.5L2 23" stroke-linecap="round" stroke-linejoin="round")
            figure(class=`${$class}__wrap ${$class}__wrap_left`)
                img(src=`${items[i][2]}`, alt="Image")
            div(class=`${$class}__wrap ${$class}__wrap_right`)
                h3(class=`${$class}__card-title`)= items[i][0]
                p(class=`${$class}__text`)
                    - if (~items[i][1].indexOf('<br>'))
                        = items[i][1].split('<br>')[0]
                        br
                        = items[i][1].split('<br>')[1]
                    - else 
                        = items[i][1]
                a(href="#" class=`${$class}__link`)
                    span(class=`${$class}__link-text`)= items[i][3]
                    i(class=`${$class}__icon`)
                        svg(viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M2 2L13 12.5L2 23" stroke-linecap="round" stroke-linejoin="round")

//- Option
//-   в items должно передаваться количесво слайдов
//-   в $class передается модификатор клвсса
//-   
mixin Slider(sliderItemsType, items, img, $class, $modifacator, needBtns)
    //- - options = options || null
    div(class=`slider_${$class} ${$class}__slider`)
        div(class=`swiper-container slider-${$class} ${$modifacator}`)
            .swiper-wrapper
                - if(sliderItemsType == 'presentation')
                    - for(let i = 0; i < items; i++)
                        div(class=`swiper-slide ${$class}__slider-item ${$class}__slider-item_${i}`)
                            figure(class=`${$class}__wrap-img`)
                                img(src=`${imgPath}${img}`, alt=`Some alt of image №${i}`)
                - else if (sliderItemsType == 'media')
                    - for(let i = 0; i < items; i++)
                        a( href=`media-one.html` class=`swiper-slide ${$class}__slider-item ${$class}__slider-item_${i}`)
                            figure(class=`${$class}__wrap-img`)
                                img(src=`${imgPath}${img[i]}`, alt=`Some alt of image №${i}`)
                            div(class=`${$class}__ico`)
                                +icon('play-ico', `white`)
                                
            - if(needBtns)
                div(class=`${$class}__wrap-btn ${(~img.indexOf('white')) ? `${$class}__wrap-btn_white` : ''}`)
                    button(class=`${$class}__btn ${$class}__btn__prev ${$modifacator}-prev`)
                        svg(viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M12 22L1 11.5L12 1"  stroke-linecap="round" stroke-linejoin="round")            
                    button(class=`${$class}__btn ${$class}__btn__next ${$modifacator}-next`)
                        svg(viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1 1L12 11.5L1 22" stroke-linecap="round" stroke-linejoin="round")