.test-sect {
    padding-top: 141px;
    padding-bottom: 103px;
}
.container {
}
.test {
    @extend %df;
    @extend %jcsb;
		// .test__wrap

    &__wrap {

        // .test__wrap_left

        &_left {
            width: 456px;
            height: 279px;
        }

        // .test__wrap_right

        &_right {
            min-width: 579px;
            padding-top: 2px;
        }
    }

    // .test__wrap-title

    &__wrap-title {
        @extend %df;
        @extend %jcsb;
        margin-bottom: 30px;
    }

    // .test__title

    &__title {
        @extend %h2-title;
        color: $black;
    }

    // .test__num

    &__num {
        @extend %btn-text;
        color: $black;
    }

    // .test__wrapper-test

    &__wrapper-test {
    }

    // .test__item

    &__item {
        display: none;
        &.active {
            display: block;
        }
    }

    // .test__item-title-wrap

    &__item-title-wrap {
        @extend %df;
        @extend %aic;
        max-width: 557px;
        margin-bottom: 35px;
    }

    // .test__item-icon

    &__item-icon {
        margin-right: 23px;
    }

    // .test__item-title

    &__item-title {
        @extend %simple-text;
        color: $black;
    }

    // .test__item-answ

    &__item-answ {
        padding-left: 35px;
    }

    // .test__inp-item

    &__inp-item {
        margin-bottom: 27px;
    }

    // .test__inp-label

    &__inp-label {
    }

    // .test__input

    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 7px;
        &:checked {
            & + .test__inp-text {
                &:after {
                    opacity: 1;
                }
            }
        }
    }

    // .test__inp-text

    &__inp-text {
        @extend %simple-text;
        color: $gray;
        position: relative;
        padding: 0 0 0 35px;
        cursor: pointer;
        &::before {
            position: absolute;
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            top: 0;
            left: 0;
            border-radius: 50%;
            background-color: rgba($color: $red, $alpha: .3);
            @extend %ease;
        }
        &::after {
            position: absolute;
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            top: 4px;
            left: 4px;
            border-radius: 50%;
            background-color: $red;
            opacity: 0;
            @extend %ease;
        }
    }

    // .test__btns
    
    &__btns {
        @extend %df;
        @extend %jcsb;
        padding-top: 23px;
        padding-left: 35px;
    }


    // .test__next

    &__next {
        @extend %fill-btn;
        @extend %red-btn;
        width: 163px;
        height: 50px;                
    }

    // .test__text-res

    &__text-res {
        @extend %border-btn;
        @extend %border-green;
        width: 222px;
        height: 50px;
        pointer-events: none;
        &:hover {
            background-color: transparent;
            color: $green;
        }
    }

    &__result-wrap {
        padding-left: 36px;
    }

    // .test__result-count

    &__result-count {
        @extend %simple-text;
        color: $black;
        strong {
            @extend %bold;
            font-size: rem(18);
            color: $green;
        }
    }

    // .test__result-test

    &__result-test {
        @extend %simple-text;
        color: $gray;
        max-width: 481px;
        margin-top: 18px;
        margin-bottom: 81px;
    }

    // .test__result-btn

    &__result-btn {
        @extend %fill-btn; 
        @extend %red-btn;
        width: 231px;
        height: 50px;
    }
}
.test-adwise {
    &-sect {
        padding-top: 82px;
        padding-bottom: 30px;
    }
    &__title {
        @extend %h2-title;
        color: $black;
        padding-left: 26px;
        margin-bottom: 38px;
    }
    &__grammar-wrap {
        @extend %df;
        flex-wrap: wrap;
        @extend %jcsb;
    }
    &__grammar {
        margin-bottom: 64px;
    }
    &__blog {
        margin-bottom: 54px;
    }
    &__media {
        margin-bottom: 64px;
    }
}