// .learn-material__sitebar

&__sitebar {
}

// .learn-material__wraper

&__wraper {
    width: 239px;
    padding-top: 3px;
}

// .learn-material__item

&__item {
    border: 1px solid $black;
    border-radius: 2px;
    padding-left: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 10px;
}

// .learn-material__item-title

&__item-title {
    // margin-bottom: 14px;
}

// .learn-material__item-btn

&__item-btn {
    @extend %df;
    @extend %jcsb;
    @extend %jcsb;
    @extend %btn-text;
    width: 100%;
    color: $gray;
    padding-right: 23px;
    i {
        @extend %db;
        width: 15px;
        height: 9px;
        svg {
            width: inherit;
            height: inherit;
            path {
                @extend %ease;
                stroke: $black;
                stroke-width: 1px;
            }
        }
    }
    &.active {
        i {
            svg {
                transform: rotateZ(180deg);
            }
        }
    }
}

// .learn-material__inset

&__inset {
    @extend %ease;
    max-height: 0;
    overflow: hidden;
    &.active {
        padding-top: 14px;
        max-height: 1500px;
    }
    // display: none;
}

// .learn-material__ins-item

&__ins-item {
    margin-bottom: 18px;
    &:last-child {
        margin-bottom: 12px;
    }
    &.current {
        a {
            color: $green;
        }
    }
}

// .learn-material__ins-link

&__ins-link {
    @extend %regular;
    font-size: rem(14);
    line-height: rem(12);
    color: $gray;
    &:hover {
        color: $green;
    }
}
