// .learn-material__content

&__content {
    padding-left: 101px;
    padding-top: 3px;
    padding-right: 200px;
    img {
        margin-bottom: 79px;
    }
    h1 {
        @extend %h2-title;
        color: $black;
        margin-bottom: 13px;
    }
    p {
        @extend %simple-text;
        color: $gray;
    }
}