.learn-material-sect {
    padding-top: 119px;
    padding-bottom: 108px;
}
.container {
}
.learn-material {
    @extend %df;
    @extend %jcsb;

    @import './1-sitebar';
    @import './2-content';

		
}