-
    const mainVar = {
        path: {
            css: 'css/',
            js: 'js/',
            img: 'img/'
        }
    };

- const imgPath = mainVar.path.img;
- const imgBg = `${mainVar.path.img}bg/`;
- const illustrations = `${mainVar.path.img}ill/`;
- const media = `${mainVar.path.img}media/`;
- const imgPng = `${mainVar.path.img}png/`;
- const headers = `${imgPath}head/`;
-
    const popupItems = {
        'Положение в пространстве, движение, места': [
            'Когда употреблять IN, а когда А?',
            'Предлоги положения в пространстве.',
            'Служебные предлоги.',
        ],
        'Время и дата': [
            'IN и А',
            'Для обозначения промежутков времени',
            'Для указания на временное отношение между двумя событиями',
        ],
        'Остальные значения': [
            'Свойства и качества',
            'Цена',
            'Причина и цель',
            'Образ, описание действия',
            'Еда',
            'Сравнение',
            'Возраст',
            'Тема',
            'Остальные значения',
        ], 
    };
-
    const mainText = {
        title: 'Italian School',
        menu: [
            'Обучение', 
            'Материалы', 
            'Грамматика>', 
            'Медиатека', 
            'Презентации', 
            'Блог', 
            'О нас'
        ],
        menuLinks: ['learning-main.html', 'learning-main.html#links', '#', 'media.html', 'presentations.html', 'blog.html', 'about.html'],
        menuPopup: {
            links: [
                'Существительное|1',
                'Артикль|2',
                'Глагол|3',
                'Прилагательное|4',
                'Местоимение|5',
                'Предлог|6',
                'Слияние предлога и артикля|7',
                'Числительные|8',
                'Порядок слов в предложении|9',
                'Употребление глагольных форм|10',
                'Discorso indiretto|11',
            ],
            items: [
                [
                    '1',
                    'simple',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                ],
                [
                    '2',
                    'simple',
                    'Что такое артикль и зачем он нужен?',
                    'Определенный артикль.',
                    'Неопределенный артикль единственного числа.',
                    'Выбор артикля.',
                    'Частичный артикль.',
                    'Неопределенный артикль множественного числа.',
                    'Как правильно выбрать артикль?',
                ],
                [
                    '3',
                    'wrapped',
                    'Глаголы essere и avere',
                    'Модальные глаголы и выбор прошедшего времени',
                    'Presente - настоящее время',
                    'Trapassato prossimo - Предпрошедшее время',
                    'Глаголы третьей группы, спрягающиесяс суффиксом -isc-',
                    'Futuro Semplice - Будущее простое время',
                    'Глаголы essere и esserci',
                    'Futuro Anteriore - Будущее сложное время',
                    'Особенности спряжения неправильных глаголов в Presente',
                    'Согласование времен в изъявительном наклонении - Concordanza dei tempi verbi nell’Indicativo',
                    'Verbi riflessivi - возвратные глаголы',
                    'Condizionale Presente - Условное наклонение',
                    'Passato prossimo - прошедшее законченное время',
                    'Condizionale Passato - Условное наклонение в прошедшем времени',
                    'Неправильные причастия прошедшего времени - Participi passati irregolari',
                    'Конструкция stare + gerundio (настоящее продолжительное время)',
                    'Модальные глаголы',
                    'Конструкция stare per',
                    'Модальные глаголы в Passato Prossimo',
                    'Imperativo - Повелительное наклонение',
                    'Imperfetto - Незаконченное прошедшее время',
                    'Periodo ipotetico - Условное предложение',
                    'Употребление Imperfetto и Passato Prossimo',
                    'Passato Remoto - Прошедшее историческое время',
                    'L’accusativo con l’infinito - Конструкция инфинитив + винительный падеж',
                    'Congiuntivo - Сослагательное наклонение',
                    'Употребление Congiuntivo',
                    'Congiuntivo Presente - Сослагательное наклонение в настоящем времени',
                    'Congiuntivo Passato - Сослагательное наклонение в прошедшем законченном времени'
                ],
                [
                    '4',
                    'simple',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                ],
                [
                    '5',
                    'simple',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                ],
                [
                    '6',
                    'titles',
                ],
                [
                    '7',
                    'simple',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                ],
                [
                    '8',
                    'simple',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                ],
                [
                    '9',
                    'simple',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                ],
                [
                    '10',
                    'simple',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                ],
                [
                    '11',
                    'simple',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                ],
            ],
        }, 
        navIcons: [
            'play-ico',
            'ico-fb',
            'ico-inst'
        ],
        navBtns: [
            'Войти',
            'Регистрация',
        ],
        homepage: {
            heroSect: {
                title: 'Начни учить итальянский прямо сейчас!',
                text: 'Studia.it предлагает новый подход к изучению итальянского языка! Мы раскладываем язык по полочкам, проникаем в самую его суть и вытаскиваем из недр самое нужное.',
                btn: 'Начать обучение',
                ill: `${illustrations}ill-home-hero-screen-color.svg`,
            },
            whoWeAreSect: {
                title: 'Кто мы?',
                text: 'Studia.it предлагает новый подход к изучению итальянского языка! Мы раскладываем язык по полочкам, проникаем в самую его суть и вытаскиваем из недр самое нужное.<br>Разрабатываем навыки, избавляемся от барьеров и препятствий, ищем интересное, знакомимся, общаемся и дружим!<br>Мы за гибкость и интерактивность.',
                call: 'Хочешь узнать больше? Жми!',
                btn: 'Узнать больше!',
                ill: `${illustrations}ill-home-who-we-are-color.svg`,
            },
            grammarSect: {
                title: 'Грамматика',
                items: [
                    [
                        'А1 - Начало',
                        'Уровень выживания. Необходимый минимум.',
                        `${imgPng}grammar-a-1.png`,
                        'Смотреть материалы',
                    ],
                    [
                        'А2 - Общение на бытовые темы.',
                        'Требуется для получения вида на жительство<br>(permesso di soggiorno).',
                        `${imgPng}grammar-a-2.png`,
                        'Смотреть материалы',
                    ],
                    [
                        'B1 - Обсуждение серьёзных тем.',
                        'Чтение простых книг. Требуется для получения гражданства.',
                        `${imgPng}grammar-b-1.png`,
                        'Смотреть материалы',
                    ],
                    [
                        'В2 -  Заковыристая грамматика.',
                        'Требуется для  обучения в университетах.',
                        `${imgPng}grammar-b-2.png`,
                        'Смотреть материалы',
                    ],
                ],
            },
            presentationsSect: {
                title: 'Презентации',
                items: [
                    'Итальянская грамматика наглядно и доступно',
                    5,
                ],
            },
            whatNext: {
                title: 'Что дальше?',
                text: 'Exercitation enim non Lorem nostrud nisi commodo aliqua dolor eu tempor veniam non nisi do. Cillum sunt aliquip eu proident excepteur aute nostrud eiusmod dolore non voluptate laborum.',
                btn: 'Начать',
            },
            blogSect: {
                title: 'Блог',
                items: [
                    'country&&#Италия',
                    'language&&#Язык',
                    'learning&&#Обучение',
                ],
            },
            mediaSect: {
                title: 'Медиатека',
                subtitle: 'Наша подборка полезных видео для обучения',
            },
        },
        aboutPage: {
            header: `${headers}ill-about-us-page.svg`,
            ill: `${illustrations}ill-about-school.svg`,
            title: 'О школе Studia.it',
            text: 'Studia.it предлагает новый подход к изучению итальянского языка!<br>Мы раскладываем язык по полочкам, проникаем в самую его суть и вытаскиваем из недр самое нужное.<br>Разрабатываем навыки, избавляемся от барьеров и препятствий, ищем интересное, знакомимся, общаемся и дружим! Мы за гибкость и интерактивность.<br>Хочешь узнать больше? Жми!',
            btn: 'Начать обучение',
        },
        presentationsPage: {
            header: `${headers}ill-presentation-page.svg`,
            ill: `${illustrations}ill-about-school.svg`,
            title: 'Презентации',
            text: 'Studia.it предлагает новый подход к изучению итальянского языка!<br>Мы раскладываем язык по полочкам, проникаем в самую его суть и вытаскиваем из недр самое нужное.',
            items: [
                [
                    5,
                    'slider-cat-present.jpg',
                    'Итальянская грамматика наглядно и доступно',
                ],
                [
                    5,
                    'slider-cat-present-white.jpg',
                    'Итальянская грамматика наглядно и доступно',
                ],
                [
                    5,
                    'slider-cat-present.jpg',
                    'Итальянская грамматика наглядно и доступно',
                ],
                [
                    5,
                    'slider-cat-present.jpg',
                    'Итальянская грамматика наглядно и доступно',
                ],
                [
                    5,
                    'slider-cat-present-white.jpg',
                    'Итальянская грамматика наглядно и доступно',
                ],
                [
                    5,
                    'slider-cat-present-white.jpg',
                    'Итальянская грамматика наглядно и доступно',
                ],
            ],
        },
        onePresentation: {
            title: 'Презентация. Грамматика',
            text: 'Sit ipsum nisi commodo amet ex quis minim. Id cillum irure aliquip dolore cupidatat magna Lorem officia proident non laborum do enim non. Ipsum incididunt adipisicing consequat sint ex consequat duis Lorem ipsum deserunt adipisicing officia. Dolore irure culpa ullamco',
            tags: [
                'Италия',
                'Обучуние',
                'Weekend',
            ],
            bigPresentImg: 'slider-cat-present.jpg',
            itemsTitle: 'Вам так же может понравиться',
            items: [
                [
                    5,
                    'slider-cat-present-white.jpg',
                    'Итальянская грамматика наглядно и доступно',
                ],
                [
                    5,
                    'slider-cat-present-white.jpg',
                    'Итальянская грамматика наглядно и доступно',
                ],
            ],
        },
        blog: {
            header: `${headers}ill-blog-page.svg`,
            title: 'Блог Studia.it',
            text: 'Studia.it предлагает новый подход к изучению итальянского языка!<br>Мы раскладываем язык по полочкам, проникаем в самую его суть и вытаскиваем из недр самое нужное.<br>Разрабатываем навыки, избавляемся от барьеров и препятствий, ищем интересное, знакомимся, общаемся и дружим!Мы за гибкость и интерактивность.<br>Хочешь узнать больше? Жми!',
            ill: `${illustrations}ill-head-blog-page.svg`,
            tabsTitle: [
                'Италия',
                'Язык',
                'Обучение',
            ],
            tabContentItems: [
                [
                    'Ad ipsum mollit duis eiusmod nisi quis ullamco',
                    '17 октября 2019',
                ],
                [
                    'Ad ipsum mollit duis eiusmod nisi quis ullamco',
                    '17 октября 2019',
                ],
                [
                    'Ad ipsum mollit duis eiusmod nisi quis ullamco',
                    '17 октября 2019',
                ],
                [
                    'Ad ipsum mollit duis eiusmod nisi quis ullamco',
                    '17 октября 2019',
                ],
                [
                    'Ad ipsum mollit duis eiusmod nisi quis ullamco',
                    '17 октября 2019',
                ],
                [
                    'Ad ipsum mollit duis eiusmod nisi quis ullamco',
                    '17 октября 2019',
                ],
            ],
        },
        learningMain: {
            header: `${headers}ill-material-page.svg`,
            ill: `${illustrations}ill-home-who-we-are-color.svg`,
            title: 'Материалы для обучения',
            text: 'Studia.it предлагает новый подход к изучению итальянского языка!<br>Мы раскладываем язык по полочкам, проникаем в самую его суть и вытаскиваем из недр самое нужное.<br>Разрабатываем навыки, избавляемся от барьеров и препятствий, ищем интересное, знакомимся, общаемся и дружим!Мы за гибкость и интерактивность.<br>Хочешь узнать больше? Жми!',
            materialLeft: [
                '<main>Правила чтения',
                '<main>Глагол',
                '<link>Глаголы essere и avere',
                '<link>Presente - настоящее время',
                '<link>Глаголы третьей группы, спрягающиеся с суффиксом -isc',
                '<link>Глаголы essere и esserci',
                '<link>Особенности спряжения неправильных глаголов в Presente',
                '<link>Глаголы metterci и volerci',
                '<link>Verbi riflessivi - возвратные глаголы',
                '<link>Passato prossimo - прошедшее законченное время',
                '<link>Неправильные причастия прошедшего времени - Participi passati irregolari',
                '<link>Модальные глаголы',
                '<link>Модальные глаголы в Passato Prossimo',
                '<link>Imperfetto - Незаконченное прошедшее время',
                '<link>Употребление Imperfetto и Passato Prossimo',
                '<link>Модальные глаголы и выбор прошедшего времени',
                '<link>Trapassato prossimo - Предпрошедшее время',
                '<link>Futuro Semplice - Будущее простое время',
                '<link>Futuro Anteriore - Будущее сложное время',
                '<link>Согласование времен в изъявительном наклонении - Concordanza dei tempi verbi nell’Indicativo',
                '<link>Condizionale Presente - Условное наклонение',
                '<link>Condizionale Passato - Условное наклонение в прошедшем времени',
                '<link>Конструкция stare + gerundio (настоящее продолжительное время)',
                '<link>Конструкция stare per',
                '<link>Imperativo - Повелительное наклонение',
                '<link>Periodo ipotetico - Условное предложение',
                '<link>Passato Remoto - Прошедшее историческое время',
                '<link>L’accusativo con l’infinito - Конструкция инфинитив + винительный падеж',
                '<link>Congiuntivo - Сослагательное наклонение',
                '<link>Употребление Congiuntivo',
                '<link>Congiuntivo Presente - Сослагательное наклонение в настоящем времени',
                '<link>Congiuntivo Passato - Сослагательное наклонение в прошедшем законченном времени',
                '<link>Congiuntivo Imperfetto - Сослагательное наклонение в прошедшем незаконченном времени',
                '<link>Congiuntivo Trapassato - Сослагательное наклонение в предпрошедшем времени',
                '<link>Periodo Ipotetico - Условное предложение',
                '<link>Gerundio - Деепричастие',
                '<link>Infinito - Инфинитив',
                '<link>Participio passato - Причастие прошедшего времени',
                '<link>Forma passiva - Страдательный залог',
                '<main>Существительное',
                '<link>Род и число',
                '<link>Исключения',
                '<main>Артикль',
                '<link>Что такое артикль и зачем он нужен?',
                '<link>Неопределенный артикль единственного числа',
                '<link>Выбор артикля',
                '<link>Частичный артикль',
                '<link>Неопределенный артикль множественного числа',
                '<link>Как правильно выбрать артикль?',  
            ],
            materialRight: [
                '<main>Местоимение',
                '<link>Род и число',
                '<link>Притяжательные прилагательные',
                '<link>Указательные прилагательные questo и quello (а также bello)',
                '<link>Сравнительные степени прилагательных',
                '<link>Сравнение',
                '<main>Прилагательное',
                '<link>Личные местоимения именительного падежа (подлежащее)',
                '<link>Личные местоимения прямого дополнения',
                '<link>Указательные местоимения',
                '<link>Вопросительные и относительные местоимения',
                '<link>Двойные местоимения (прямого и косвенного дополнения)',
                '<link>Относительные местоимения',
                '<link>Ci',
                '<link>Неопределенно-личное si',
                '<link>Ne',
                '<main>Предлог',
                '<subMain>Положение в пространстве, движение, места',
                '<sub-link>Когда употреблять IN, а когда А',
                '<sub-link>Предлоги положения в пространстве',
                '<sub-link>Служебные предлоги',
                '<subMain>Время и дата',
                '<sub-link>IN и А',
                '<sub-link>Для обозначения промежутков времени',
                '<sub-link>Для указания на временное отношение между двумя событиями',
                '<subMain>Остальные значения',
                '<sub-link>Свойства и качества',
                '<sub-link>Цена',
                '<sub-link>Причина и цель',
                '<sub-link>Образ, описание действия',
                '<sub-link>Еда',
                '<sub-link>Сравнение',
                '<sub-link>Возраст',
                '<sub-link>Тема',
                '<sub-link>Остальные значения',
                '<main>Слияние предлога и артикля',
                '<main>Числительные',
                '<main>Порядок слов в предложении',
                '<main>Употребление глагольных форм',
                '<main>Discorso indiretto',
            ],
        },
        course: {
            sitebar: {
                'Артикль': [
                    '0',
                    'Что такое артикль и зачем он нужен?',
                    'Определенный артикль.',
                    'Неопределенный артикль единственного числа.',
                    'Выбор артикля.',
                    'Частичный артикль.',
                    'Неопределенный артикль множественного числа.',
                    'Как правильно выбрать артикль?',
                ],
                'Глаголы': [
                    '1',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                ],
                'Местоимения': [
                    '2',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                ],
                'Правила чтения': [
                    '3',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                ],
                'Правила чтения': [
                    '4',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                ],
                'Порядок слов': [
                    '5',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                ],
                'Предлоги': [
                    '6',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                    'Lorem ipsum dolor sit amet',
                ],
            },
            ill: `${illustrations}ill-learning-a-1.svg`,
            title: 'A-1 Начало',
            text: 'Studia.it предлагает новый подход к изучению итальянского языка!<br>Мы раскладываем язык по полочкам, проникаем в самую его суть и вытаскиваем из недр самое нужное.<br>Разрабатываем навыки, избавляемся от барьеров и препятствий, ищем интересное, знакомимся, общаемся и дружим!Мы за гибкость и интерактивность.<br>Хочешь узнать больше? Жми!',
            secondLesson: {
                title: 'Что такое артикль и зачем он нужен?',
                text: 'Нам часто непонятно, зачем вообще нужны артикли, ведь в русском языке мы отлично обходимся и без них. Давайте разбираться.',
                titleList: 'Всего их три вида:',
                audioSrc: 'file/audio.mp3',
                list: [
                    [
                        'Определенный (il, la, lo, l’, i, gli, le)<br>дословно переводится как «этот» или «тот»',
                        'Произношение (il, la, lo, l’, i, gli, le) ',
                    ],
                    [
                        'Неопределенный (un, uno, una, un’ )<br>дословно переводится как «один», «некий»',
                        'Произношение (il, la, lo, l’, i, gli, le)',
                    ],
                    [
                        'Частичный (del, della, dello, dell’)<br>дословно переводится как «немного», «некое количество»',
                        'Произношение (il, la, lo, l’, i, gli, le)'
                    ],
                ],
                ps1: 'NB<br>Артикли используются почти всегда, в редких случаях артикль опускается совсем. Для русскоговорящих это одна из самых больных тем - и именно по употреблению артиклей можно определить неносителя языка.',
                ps2: 'NB<br>Каждый вид артикля имеет свой смысл, и в некоторых случаях может менять значение всего предложения. Будьте внимательны.',
            },
        },
        mediaLibrary: {
            header: `${headers}ill-media-page.svg`,
            title: 'Медиатека',
            text: 'Studia.it предлагает новый подход к изучению итальянского языка!<br>Мы раскладываем язык по полочкам, проникаем в самую его суть и вытаскиваем из недр самое нужное.<br>Разрабатываем навыки, избавляемся от барьеров и препятствий, ищем интересное, знакомимся, общаемся и дружим!Мы за гибкость и интерактивность.<br>Хочешь узнать больше? Жми!',
            ill: `${illustrations}ill-media-page.svg`,
            sections: {
                'О Италии': {
                    bg: 'bg',
                    subtitle: 'Studia.it предлагает новый подход к изучению итальянского языка!',
                    items: 3,
                    itemImg: 'media-about-italy-item-',
                    btn: 'Смотреть больше',
                },
                'О итальянской кухне': {
                    bg: 'not-bg',
                    subtitle: 'Studia.it предлагает новый подход к изучению итальянского языка!',
                    items: 3,
                    itemImg: 'media-italy-food-',
                    btn: 'Смотреть больше',
                },
                'О итальянском языке': {
                    bg: 'bg',
                    subtitle: 'Studia.it предлагает новый подход к изучению итальянского языка!',
                    items: 3,
                    itemImg: 'media-italy-language-',
                    btn: 'Смотреть больше',
                },
            },
        },
        mediaTopickLib: {
            title: 'О Италии',
            text: 'Studia.it предлагает новый подход к изучению итальянского языка!',
            item: 11,
            img: 'media-library-item-',
        },
        testPage: {
            ill: `${illustrations}ill-what-next-sect.svg`,
            title: 'Тест на знание Итальянского',
            tests: {
                '1': {
                    title: 'Dolor aute enim pariatur veniam adipisicing laborum sunt reprehenderit.?',
                    answ: [
                        'Dolor aute enim pariatur veniam (question 1)',
                        'Dolor aute enim pariatur veniam (question 1)',
                        'Dolor aute enim pariatur veniam (question 1) right',
                    ],
                },
                '2': {
                    title: 'Dolor aute enim pariatur veniam adipisicing laborum sunt reprehenderit.?',
                    answ: [
                        'Dolor aute enim pariatur veniam (question 2) right',
                        'Dolor aute enim pariatur veniam (question 2)',
                        'Dolor aute enim pariatur veniam (question 2)',
                    ],
                },
                '3': {
                    title: 'Dolor aute enim pariatur veniam adipisicing laborum sunt reprehenderit.?',
                    answ: [
                        'Dolor aute enim pariatur veniam (question 3)',
                        'Dolor aute enim pariatur veniam (question 3) right',
                        'Dolor aute enim pariatur veniam (question 3)',
                    ],
                },
                '4': {
                    title: 'Dolor aute enim pariatur veniam adipisicing laborum sunt reprehenderit.?',
                    answ: [
                        'Dolor aute enim pariatur veniam (question 4)',
                        'Dolor aute enim pariatur veniam (question 4) right',
                        'Dolor aute enim pariatur veniam (question 4)',
                    ],
                },
                '5': {
                    title: 'Dolor aute enim pariatur veniam adipisicing laborum sunt reprehenderit.?',
                    answ: [
                        'Dolor aute enim pariatur veniam (question 5)',
                        'Dolor aute enim pariatur veniam (question 5) right',
                        'Dolor aute enim pariatur veniam (question 5)',
                    ],
                },
                '6': {
                    title: 'Dolor aute enim pariatur veniam adipisicing laborum sunt reprehenderit.?',
                    answ: [
                        'Dolor aute enim pariatur veniam (question 6)',
                        'Dolor aute enim pariatur veniam (question 6) right',
                        'Dolor aute enim pariatur veniam (question 6)',
                    ],
                },
                '7': {
                    title: 'Dolor aute enim pariatur veniam adipisicing laborum sunt reprehenderit.?',
                    answ: [
                        'Dolor aute enim pariatur veniam (question 7) right',
                        'Dolor aute enim pariatur veniam (question 7)',
                        'Dolor aute enim pariatur veniam (question 7)',
                    ],
                },
                '8': {
                    title: 'Dolor aute enim pariatur veniam adipisicing laborum sunt reprehenderit.?',
                    answ: [
                        'Dolor aute enim pariatur veniam (question 8)',
                        'Dolor aute enim pariatur veniam (question 8)',
                        'Dolor aute enim pariatur veniam (question 8) right',
                    ],
                },
                '9': {
                    title: 'Dolor aute enim pariatur veniam adipisicing laborum sunt reprehenderit.?',
                    answ: [
                        'Dolor aute enim pariatur veniam (question 9) right',
                        'Dolor aute enim pariatur veniam (question 9)',
                        'Dolor aute enim pariatur veniam (question 9)',
                    ],
                },
                '10': {
                    title: 'Dolor aute enim pariatur veniam adipisicing laborum sunt reprehenderit.?',
                    answ: [
                        'Dolor aute enim pariatur veniam (question 10)',
                        'Dolor aute enim pariatur veniam (question 10) right',
                        'Dolor aute enim pariatur veniam (question 10)',
                    ],
                },
            },
            btnNext: 'Продолжить',
            btnCost: 'Результат: 10 баллов',
            result: {
                title: 'Ваш результат теста',
                howMuch: 'Вы прошли тест на <strong>80 баллов.',
                text: 'Мы подготовили для вас обучающий контент для улучшения уровня Ваших знаний!',
                btn: 'Посмотреть результаты',
            },
        },
        footer: {
            menu: [
                'Обучение|learning-main.html',
                'Блог|blog.html',
                'Материалы|learning-main.html#links',
                'О школе|about.html',
                'Подход к обучению|about.html',
                'Личный кабинет|com',
                'Вход / Регистрация|com',
            ],
            designed: '',
            copy: '© Studia.it 2019',
            navIcons: [
                'play-ico',
                'icon-fb',
                'icon-inst'
            ],
            btn: 'Написать нам',
        },
    }
- const homePage = mainText.homepage;
- const grammar = homePage.grammarSect;
- const homePresent = homePage.presentationsSect;
- const aboutPage = mainText.aboutPage;
- const present = mainText.presentationsPage;
- const presIns = mainText.onePresentation;
- const blogP = mainText.blog;
- const learnMain = mainText.learningMain;  
- const course = mainText.course;
- const mediaLib = mainText.mediaLibrary;
- const mediaTopLib = mainText.mediaTopickLib;
- const testing = mainText.testPage;
-
    const links =  {
        menuLink: [
            'expertise.html',
            'people.html',
            'insights.html',
            'contacts.html'
        ]
    }