@include bp(1024px) {
    .media-lib {
        &__wrapper {
            grid-template-columns: 1fr 1fr;
        }
        &__title {
            @extend %title-adapt;
        }
        &__text {
            @extend %text-adapt;
        }
    }
}