@include bp(1024px) {
    .pres-ins {
        flex-direction: column;
        &__wrap {
            &_right {
                order: -1;
                max-width: 100%;
            }
            &_left {
            }
        }
        &__title {
            @extend %small-title-adapt;
        }
        &__text {
            @extend %text-adapt;
            margin-bottom: 30px;
        }
        .all-pres {
            &__item {
                margin-bottom: 20px;
            }
        }
    }
    .may-like-sect {
        padding-top: 100px;
    }
    .may-like__title {
        @extend %title-adapt;
        padding-left: 0;
    }
    .all-pres {
        &__btn {
            @extend %slider-btn;
        }
        &__item {
            width: 306px;
        }
        &__text-link {
            @extend %text-adapt;
        }
    }
}