@include bp(766px) {
    .presen-inside-header {
        padding-top: 80px;
    }
    .pres-ins {
        &__wrap {
            &_left {
                padding-top: 0;
                padding-right: 0;
            }
        }
        &__link-back {
            width: 10px;
            height: 21px;
            // display: none;
        }
        &__title {
            padding-left: 15px;
        }
        &__wrapper {
            padding-left: 0;
        }
        &__tags {
            flex-wrap: wrap;
            &-item {
                margin-bottom: 10px;
            }
        }
    }
    .all-pres {
        &__item {
            width: 100%;
        }
    }
}