@include bp(1190px) {
    .pres-ins {
        &__wrap {
            &_right {
                max-width: 496px;
            }
            &_left {
                padding-right: 60px;
            }
        }
        .all-pres {
            &__item {
                width: 100%;
            }
        }
    }
    .all-pres {
        &__item {
            width: 456px;
        } 
        &__slider-item {
            // max-width: 496px;
        }
        &__wrap-img {
            
        }
    }
}