@include bp(1190px) {
    .offer {
        &__wrap {
            &_left {
                padding-left: 0;
            }
        }
    }
    .who-we {
        &__wrap {
            &_right {
                max-width: 461px;
            }
            &-text {
                padding-right: 0;
            }
        }
    }
    .presentation {
        &__wrap {
            &_right {
                max-width: 448px;
            }
        }
    }
    .home-blog {
        &__card {
            width: 352px;
            height: 427px;
            &:nth-child(2) {
                margin: 0 20px;
            }
        }
    }
    .home-media {
        &__slider-item {
            width: 300px;
        }
    }
}