@include bp(766px) {
    .home-page-header {
        padding-bottom: 61px;
    }
    .offer {
        padding-top: 109px;
        display: block;
        &__text {
            margin-top: 12px;
            margin-bottom: 48px;
        }
        &__wrap {
            &_right {
                width: 100%;
                height: auto;
            }
        }
    }
    .home-who-weare {
        padding-top: 67px;
        padding-bottom: 30px;
    }
    .who-we {
        flex-direction: column;
        &__wrap {
            &_right {
                order: -1;
            }
            &_left {
                padding-top: 76px;
                width: 100%;
                height: auto;
            }
            &-text {
                margin-bottom: 47px;
            }
        }
        &__cta {
            margin-top: 19px;
        }
    }
    .home-grammar-sect {
        padding-top: 105px;
    }
    .grammar {
        &__title {
            margin-bottom: 40px;
        }
    }
    .home-presentation {
        padding-top: 82px;
    }
    .presentation {
        flex-direction: column;
        &__wrap {
            &_right {
                order: -1;
            }
            &_left {
                padding-top: 44px;
                width: 100%;
                height: auto;
            }
        }
        &__slider-item {
            width: 100%;
        }
    }

    .home-what-next {
        padding-top: 266px;
    }
    .what-next {
        flex-direction: column;
        &__wrap {
            &_left {

            }
            &_right {
                padding-top: 10px;
                width: 100%;
                height: auto;
            }
        }
    }
    .home-blog-sect {
        padding-top: 138px;
    }
    .home-blog {
        &__wrap {
            flex-direction: column;
            &-img {
                img {
                    width: 107px;
                    height: 186px;
                }
            }
        }
        &__title {
            margin-bottom: 28px;
        }
        &__card {
            width: 100%;
            height: 393px;
            margin-bottom: 9px;
            &:last-child {
                margin-bottom: 0;
            }
            &:nth-child(2) {
                margin: 0;
                margin-bottom: 9px;
            }
        }
    }

    .home-media-sect {
        padding-top: 181px;
        padding-bottom: 60px;
    }
    .home-media {
        position: relative;
        &__wrap-btn {
            position: absolute;
            right: 0;
            top: 219px;
            padding-top: 0;
            z-index: 2;
        }
        &__btn {
            height: 40px;
        }
        &__wrap-img {
            height: 179px;
        }
        &__slider-item {
            width: 100%;
        }
    }
}