@include bp(1024px) {
    %title-adapt {
        font-size: rem(30);
        line-height: rem(30);
    }
    %title-link {
        @extend %title-adapt;
        padding-left: 0;
        i {
            width: 28px;
            height: 18px;
        }
    }
    %text-adapt {
        font-size: rem(12);
        line-height: rem(18);
    }
    %small-title-adapt {
        font-size: rem(20);
        line-height: rem(23);
    }
    %micro-title-adapt {
        font-size: rem(16);
        line-height: rem(21);
    }
    %btn-agapt {
        font-size: rem(12);
        line-height: rem(16);
    }
    %slider-btn {
        width: 34px;
        height: 44px;
        svg {
            height: 15px;
        }
    }
    .home-page-header {
        padding-bottom: 65px;
    }
    .offer {
        padding-top: 121px;
        &__title {
            @extend %title-adapt;
        }
        &__wrap {
            &_right {
                padding-top: 48px;
                width: 335px;
                height: 204px;
            }
        }
        &__text {
            @extend %text-adapt;
            margin-left: 0;
            margin-bottom: 54px;
        }
        &__btn {
            @extend %btn-agapt;
            margin-left: 0;
            width: 142px;
            height: 30px;
            padding: 0;
        }
    }

    .home-who-weare {
        padding-top: 39px;
        padding-bottom: 42px;
    }
    .who-we {
        &__wrap {
            &_left {
                padding-top: 30px;
                padding-left: 3px;
                width: 302px;
                height: 240px;
            }
            &_right {
                max-width: 336px;
            }
            &-text {
                margin-bottom: 37px;
            }
        }
        &__title {
            @extend %title-adapt;
        }
        &__text {
            @extend %text-adapt;
        }
        &__cta {
            @extend %text-adapt;
            margin-top: 37px;
        }
        &__btn {
            @extend %btn-agapt;
            width: 139px;
            height: 30px;
        }
    }
    .home-grammar-sect {
        padding-top: 97px;
        overflow: hidden;
    }
    .grammar {
        &__title {
            @extend %title-link;
            margin-bottom: 30px;
        }
    }

    
    .home-presentation {
        padding-top: 123px;
    }
    .presentation {
        &__title {
            @extend %title-link;
            margin-bottom: 26px;
        }
        &__wrap {
            &_left {
                width: 320px;
                height: 263px;
                padding-top: 23px;
                padding-left: 3px;
            }
            &_right {
                max-width: 337px;
            }
        }
        &__slider-item {
            max-width: 337px;
        }
        &__wrap-btn {
            bottom: 6px;
        }
        &__btn {
            @extend %slider-btn;
        }
        &__subtitle {
            @extend %small-title-adapt;
            margin-top: 12px;
        }
    }
    .all-pres__wrap-btn  {
        bottom: 6px;
    }
    .home-what-next {
        padding-top: 222px;
    }
    .what-next {
        &__wrap {
            &_right {
                padding-top: 0;
                width: 320px;
                height: 196px;
            }
            &_left {
                padding-left: 0;
            }
        }
        &__title {
            @extend %title-adapt;
        }
        &__text {
            @extend %text-adapt;
            max-width: 318px;
            margin-top: 9px;
            margin-bottom: 31px;
        }
        &__btn {
            @extend %btn-agapt;
            width: 99px;
            height: 30px;
        }
    }
    .home-blog-sect {
        padding-top: 156px;
    }
    .home-blog {
        &__title {
            @extend %title-link;
            margin-bottom: 25px;
        }
        &__card {
            width: calc(100% / 3);
            height: 273px;
            &:nth-child(2) {
                margin: 0 11px;
            }
        }
        &__wrap-img {
            justify-content: center;
            img {
                margin: 0 auto;
                width: 74px;
                height: 129px;
            }
        }
        &__text {
            @extend %small-title-adapt;
        }
    }
    .home-media-sect {
        padding-top: 155px;
        padding-bottom: 44px;
    }
    .home-media {
        &__title {
            @extend %title-link;
            margin-bottom: 3px;
        }
        &__subtitle {
            @extend  %text-adapt;
        }
        &__title-wrap {
            padding-left: 0;
        }
        &__wrap {
            &_top {
                margin-bottom: 28px;
            }
            &_bot {

            }
        }
        &__btn {
            @extend %slider-btn;
        }
    }
}