@include bp(766px) {
    .learn-head {
        &__wrap {
            &_left {
                display: none;
            } 
        }
    }
    .learn-link-sect {
        padding-top: 70px;
    }
    .learn-links {
        flex-direction: column;
    }
}