@include bp(1190px) {
    .learn-head {
        &__wrap {
            &_left {
                padding-left: 0;
            }
            &_right {
                max-width: 493px;
            }
        }
    }
}