@include bp(1024px) {
    .learn-head {
        &__wrap {
            &_left {
                width: 271px;
            }
            &_right {
                max-width: 369px;
            }
        }
        &__title {
            @extend %title-adapt;
        }
        &__text {
            @extend %text-adapt;
        }
    }
    .learn-links {
        &__wrap {
            &_right {
                width: auto;
                padding-left: 20px;
                // max-width: 349px;
            }
            &_left {
                padding-right: 20px;
            }
        }
        &__title-link {
            @extend %micro-title-adapt;
        }
        &__link, &__subtitle-link {
            @extend %text-adapt;
        }
    }
}