@include bp(1190px) {
    .about-us {
        &__wrap {
            &_right {

            }
            &_left {
                width: 348px;
                height: 318px;
            }
        }
    }
}