@include bp(1024px) {
    .about-us {
        padding-top: 50px;
        flex-direction: column;
        &__wrap {
            &_right {
                padding-left: 0;
            }
            &_left {
                order: 2;
            }
        }
        &__title {
            @extend %title-adapt;
        }
        &__text {
            @extend %text-adapt;
            margin-bottom: 30px;
        }
        &__btn {
            @extend %btn-agapt;
            width: 142px;
            height: 30px;
            padding: 0;
        }
    }
}