@include bp(766px) {
    .about-us {
        &__wrap {
            &_right {
            }
            &_left {
                padding-top: 25px;
                width: 100%;
                height: auto;
            }
        }
    }
}