.presen-inside-header {
    padding-top: 117px;
}
.container {
}
.pres-ins {
    @extend %df;
    @extend %jcsb;
		// .pres-ins__wrap

		&__wrap {

			// .pres-ins__wrap_left

			&_left {
                padding-top: 21px;
			}

			// .pres-ins__wrap_right

			&_right {
			}
		}

		// .pres-ins__wrap-title

		&__wrap-title {
            @extend %df;
            @extend %aic;
            margin-bottom: 20px;
		}

		// .pres-ins__link-back

		&__link-back {
            @extend %arrow-back;
		}

		// .pres-ins__title

		&__title {
            @extend %h2-title;
            color: $black;
            padding-left: 33px;
		}

        // .pres-ins__text
        
		// .pres-ins__wrapper

        &__wrapper {
            padding-left: 46px;
            max-width: 548px;
        }

		&__text {
            @extend %simple-text;
            color: $gray;
            margin-bottom: 62px;
		}

		// .pres-ins__tags

		&__tags {
            @extend %df;
		}

		// .pres-ins__tags-item

		&__tags-item {
            @extend %bold;
            @extend %fz-14;
            color: $green;
            border: 1px solid $green;
            padding: 5px 20px;
            border-radius: 2px;
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
		}

		// .pres-ins__tags-text

		&__tags-text {
		}
}

// ==> You May Like Section
.may-like-sect {
    padding-top: 21px;
    padding-bottom: 26px;
}
.container {
}
.may-like {

		// .may-like__title

		&__title {
            @extend %h2-title;
            color: $black;
            padding-left: 45px;
            margin-bottom: 37px;
		}
}
