- const footer = mainText.footer;
footer.footer-sect
    img(src=`${imgBg}footer-foot-bg-left.svg`, alt="Illustration" class=`bg-img bg-img_footer-left`)
    img(src=`${imgBg}footer-foot-bg-right.svg`, alt="Illustration" class=`bg-img bg-img_footer-right`)
    .container
        .footer
            .footer__wrap.footer__wrap_left
                .footer__logo
                    img(src=`${imgPath}logo.svg`, alt="Logotype")
                .footer__social
                    ul.nav__social
                        - for(let i = 0; i < social.length; i++)
                            li.nav__social-item
                                a(href="#").nav__social-link
                                    i(class=`nav__social-text nav__social-text_${social[i]}`)
                                        +icon(`${social[i]}`, 'gray')
            .footer__wrap.footer__wrap_middle
                ul.footer__menu
                    li.footer__menu-item
                        a(href=`${footer.menu[0].split('|')[1]}`).footer__menu-link
                            span.footer__menu-link-text= footer.menu[0].split('|')[0]
                    li.footer__menu-item
                        a(href=`${footer.menu[1].split('|')[1]}`).footer__menu-link
                            span.footer__menu-link-text= footer.menu[1].split('|')[0]
                    li.footer__menu-item
                        a(href=`${footer.menu[2].split('|')[1]}`).footer__menu-link
                            span.footer__menu-link-text= footer.menu[2].split('|')[0]
                ul.footer__menu
                    li.footer__menu-item
                        a(href=`${footer.menu[3].split('|')[1]}`).footer__menu-link
                            span.footer__menu-link-text= footer.menu[3].split('|')[0]
                    li.footer__menu-item
                        a(href=`${footer.menu[4].split('|')[1]}`).footer__menu-link
                            span.footer__menu-link-text= footer.menu[4].split('|')[0]
                ul.footer__menu
                    li.footer__menu-item
                        a(href=`#` class=` footer__menu-link ${footer.menu[5].split('|')[1]}`)
                            span.footer__menu-link-text= footer.menu[5].split('|')[0]
                    li.footer__menu-item
                        a(href=`#` class=` footer__menu-link ${footer.menu[6].split('|')[1]}`)
                            span.footer__menu-link-text= footer.menu[6].split('|')[0]
            p.des
                = 'Designed by '
                a(href="#")= 'id.'
                = ' and'
                a(href="#")= ' GroupTechno'
            .footer__wrap.footer__wrap_right
                button.footer__btn
                    span.footer__btn-text= footer.btn
                p.footer__copy= footer.copy
.coming
    .coming__wrap
        img(src=`${illustrations}ill-coming-soon.svg`, alt="illustration")
        h2.coming__title Регистрация на данный момент недоступна.
        p.coming__text На данный момент мы работаем над созданием личного кабинета для комфортного обучения.