head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title= mainText.title
    meta(name="description" content="")
    meta(name="keywords" content="")
    // ================= Favicon =================
    link(rel="icon" href="img/logo/favicon.ico" type="image/x-icon")
    link(rel="shortcut icon" href="img/logo/favicon.ico" type="image/x-icon")
    // ################# Favicon #################
    // ==================== OG Tags ====================
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(property="og:type" content="article")
    meta(property="og:image" content="")
    meta(property="og:site_name" content="")
    // #################### OG Tags ####################
    // ==================== Css ====================
    link(rel="stylesheet" href=`${mainVar.path.css}main.css`)
    // #################### Css ####################
