- const menu = mainText.menu;
- const social = mainText.navIcons; 
- const navBtns = mainText.navBtns; 
- const popup = mainText.menuPopup;
- const linksM = mainText.menuLinks; 
nav.navigation
    .container
        .nav
            .nav__logo
                a(href="index.html").nav__logo-link
                    img(src=`${imgPath}logo.svg`, alt="Logotype")
            ul.nav__menu.menu
                - for(let i = 0; i < menu.length; i++)
                    li.nav__menu-item
                        a(href=`${linksM[i]}` class=`${(~menu[i].indexOf('>')) ? `nav__menu-link pop-op` : `nav__menu-link`}`)
                            - if(~menu[i].indexOf('>'))
                                    span.nav__menu-text= menu[i].split('>')[0]
                                    i.nav__menu-icon
                                        svg(viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M7 1L4 4L1 1" stroke="#251C1C" stroke-linecap="round" stroke-linejoin="round")
                            - else
                                span.nav__menu-text= menu[i]
            ul.nav__social
                - for(let i = 0; i < social.length; i++)
                    li.nav__social-item
                        a(href="instagram.com" target="_blank").nav__social-link
                            i(class=`nav__social-text nav__social-text_${social[i]}`)
                                +icon(`${social[i]}`, 'gray')
            .nav__btns
                - for(let i = 0; i < navBtns.length; i++)
                    button(class=`nav__btns-btn com ${(i == 0) ? `nav__btns-btn_sign` : `nav__btns-btn_reg`}`)
                        span.nav__btns-text= navBtns[i]
                .mob-burger
                    button.mob-burger__btn.mob-menu
                        span
                        span
                        span
.menu-pupup.m-pop
    .menu-pupup__wrap
        ul.menu-pupup__links
            - for(let i = 0; i < popup.links.length; i++)
                li(class=`menu-pupup__wrapper-links menu-pupup__wrapper-links_${popup.links[i].split('|')[1]} pop-lnk ${i == 0 ? 'active': ''}` data-id=`${popup.links[i].split('|')[1]}`)
                    a(href="#").menu-pupup__link
                        span.menu-pupup__link-text= popup.links[i].split('|')[0]
                        i.menu-pupup__icon
                            svg(viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 1L12 11.5L1 22" stroke="#251C1C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        .menu-pupup__wrap-content
            - for(let i = 0; i < popup.items.length; i++)
                - if(popup.items[i][1] == 'simple' || popup.items[i][1] == 'wrapped')
                    ul(class=`menu-pupup__cont-wrap menu-pupup__cont-wrap_${popup.items[i][1]} pop-cont ${i == 0 ? 'active': ''}` data-id=`${popup.items[i][0]}`)
                        - for(let x = 2; x < popup.items[i].length; x++)
                            li.menu-pupup__cont-item
                                a(href="#").menu-pupup__cont-link
                                    span.menu-pupup__cont-link-text= popup.items[i][x]
                - else if (popup.items[i][1] == 'titles')
                    div(class=`menu-pupup__cont-wrap menu-pupup__cont-wrap_${popup.items[i][1]} pop-cont` data-id=`${popup.items[i][0]}`).menu-pupup__cont-item-titles
                        - for(let k in popupItems)
                                ul.menu-pupup__cont-wrapper
                                    li.menu-pupup__cont-item_title
                                            h2.menu-pupup__content-title= k
                                    - for(let j = 0; j < popupItems[k].length; j++)
                                        li.menu-pupup__cont-item
                                            a(href="#").menu-pupup__cont-link
                                                span.menu-pupup__cont-link-text= popupItems[k][j]
                                            