@include bp(1190px) {
    .media-head {
        &__wrap {
            &_left {
                padding-left: 40px;
            }
        }
    }
    .media-theme {
        &__link {
            width: 290px;
            height: 170px;
        }
        &__wrap-img {
            height: auto;
        }
    }
}