@include bp(1024px) {
    .media-page-header {
        padding-bottom: 70px;
    }
    .media-head {
        &__wrap {
            &_left {
                // padding-left: 0;
                width: 209px;
            }
            &_right {
                max-width: 382px;
            }
        }
        &__title {
            @extend %title-adapt;
        }
        &__text {
            @extend %text-adapt;
        }
    }
    .media-theme {
        &__title {
            @extend %title-adapt;
        }
        &__text {
            @extend %text-adapt;
        }
        &__wrap {
            &_top {
                padding-left: 0;
            }
        }
        &__link {
            width: 220px;
            height: auto;
        }
        &__btn {
            @extend %btn-agapt;
            width: 142px;
            height: 30px;
            padding: 0;
        }
    }
}