@include bp(766px) {
    .media-head {
        &__wrap {
            &_left {
                display: none;
            }
        }
    }
    .media-theme {
        &__medias {
            flex-direction: column;
        }
        &__link {
            width: 100%;
            margin-bottom: 15px;
        }
    }
}