@include bp(1024px) {
    %title-adapt {
        font-size: rem(30);
        line-height: rem(30);
    }
    %title-link {
        @extend %title-adapt;
        padding-left: 0;
        i {
            width: 28px;
            height: 18px;
        }
    }
    %text-adapt {
        font-size: rem(12);
        line-height: rem(18);
    }
    %small-title-adapt {
        font-size: rem(20);
        line-height: rem(23);
    }
    %micro-title-adapt {
        font-size: rem(16);
        line-height: rem(21);
    }
    %btn-agapt {
        font-size: rem(12);
        line-height: rem(16);
    }
    .navigation {
        padding-top: 7px;
    }
    .nav {
        &__logo {
            padding-top: 6px;
            // padding-left: 9px;
            &-link {
                display: inline-block;
                width: 53px;
                height: 26px;
            }
        }
        &__social {
            &-item {
                margin-right: 6px;
            }
            &-link {
                width: 14px;
                height: 14px;
            }
            &-text {
                display: flex;
                align-items: center;
                justify-content: center;
                &_play-ico {
                    width: 7px;
                    height: 7px;
                }
                &_ico-fb {
                    width: 5px;
                    height: 8px;
                }
                &_ico-inst {
                    width: 8px;
                    height: 8px;
                }
            }
        }
        &__btns {
            // padding-right: 6px;
            margin-left: 29px;
            &-btn {
                padding: 0;
                height: 30px;
                font-size: rem(12);
                line-height: rem(16);
                &_sign {
                    width: 69px;
                    margin-right: 8px;
                }
                &_reg {
                    width: 109px;
                }
            }
        }
    }   

    // ==> Grammar Cards 
    .grammar {
        &__card {
            width: 336px;
            height: 174px;
            margin-bottom: 17px;
            &-title {
                @extend %small-title-adapt;
            }
            &_0 {
                padding-top: 36px;
                .grammar {
                    &__wrap {
                        &_left {
                            padding-top: 4px;
                            width: 52px;
                            height: 94px;
                        }
                    }
                    &__text {
                        padding-right: 20px;
                        margin-top: 9px;
                    }
                }
            }
            &_1 {
                padding: 30px 0 0 30px;
                .grammar {
                    &__wrap {
                        &_left {
                            padding-top: 4px;
                            width: 57px;
                            height: 96px;
                        }
                        &_right {
                            max-width: 201px;
                        }
                    }
                    &__text {
                        padding-right: 40px;
                        margin-top: 9px;
                    }
                }
            }
            &_2 {
                padding: 31px 0px 0px 30px;
                .grammar {
                    &__wrap {
                        &_left {
                            padding-top: 1px;
                            width: 57px;
                            height: 98px;
                        }
                    }
                    &__text {
                        padding-right: 30px;
                        margin-top: 13px;
                    }
                }
            }
            &_3 {
                padding: 29px 0px 0px 39px;
                .grammar {
                    &__wrap {
                        &_left {
                            width: 53px;
                            height: 100px;
                        }
                        &_right {
                            padding-top: 4px;
                            max-width: 201px;
                        }
                    }
                    &__text {
                        padding-right: 50px;
                        margin-top: 15px;
                    }
                }
            }
        }
        &__wrap {
            &_right {
                max-width: 199px;
            }
        }
        &__text {
            @extend %text-adapt;
            // width: 181px;
        }
    }

    .bg-img {
        &_grammar-bot {
            bottom: -272px;
            left: -476px;
            width: 1210px;
            height: 655px;
        }
        &_home-present {
            width: 282px;
            height: 324px;
            bottom: -242px;
            left: 109px;
        }
        &_what-next {
            display: none;
        }
        &_home-media {
            width: 125px;
            height: 125px;
            right: 4px;
            top: -12px;
        }
        &_footer-left {
            display: none;
        }
        &_footer-right {
            width: 244px;
            height: 157px;
            right: 95px;
        }
    }
    .footer {
        &-sect {
            padding-top: 24px;
        }
        &__logo {
            width: 53px;
            height: 26px;
        }
        &__menu {
            width: auto;
            &:first-child {
                margin-right: 65px;
            }
            &:nth-child(2) {
                order: 3;
                margin-right: 0;
            }
            &-link {
                @extend %text-adapt;
            }
        }
        &__wrap {
            &_middle {
                max-width: 262px;
                flex-wrap: wrap;
                margin-left: -78px;
                padding-top: 7px;
            }
        }
        &__btn {
            @extend %btn-agapt;
            width: 123px;
            height: 30px;
            padding: 0;
        }
        .des {
            @extend %text-adapt;
            right: 271px;
            bottom: 60px;
        }
        &__copy {
            @extend %text-adapt;
            margin-top: 135px;
        }
    }
    .coming {
        width: 250px;
        padding: 79px 0 0px 21px;
        &__title {
            @extend %small-title-adapt;
        }
        &__text {
            @extend %text-adapt;
        }
    }
}
    