@include bp(1190px) {
    .navigation {
        z-index: 100;
    }
    .nav {
        &__btns {
            margin-bottom: 0;
        }
        &__menu {
            position: absolute;
            flex-direction: column;
            top: 0;
            right: 0;
            width: 376px;
            height: 100vh;
            background-color: $white;
            padding: 76px 0px 0 63px;
            transform: translateX(100%);
            transition: all .3s ease;
            &.open {
                transform: translateY(0);
            }
            &-item {
                margin-bottom: 30px;
            }
            &-link {
                font-size: rem(20);
                line-height: rem(29);
                letter-spacing: 0.03em;
            }
            &-icon {
                display: none;
            }
        }
        &__social {
            margin-left: auto;
        }
    }
    .mob-burger {
        display: flex;
    }

    // ==> Grammar Section 
    .grammar {
        &__card {
            width: 470px;
            padding: 70px 0 0px 32px;
        }
        &__wrap {
            &_right {
                max-width: 289px;
            }
        }
        &__wraper {
            justify-content: space-around;
        }
    }
    .ill-head {
        padding-top: 56px;
    }
}