@include bp(766px) {
    body {
    }
    .navigation {
        .nav {
            &__social {
                display: none;
            }
            &__btns {
                margin-left: auto;
                &-btn {
                    &_sign {
                        position: absolute;
                        top: 10px;
                        left: 112px;
                        z-index: 10;
                        pointer-events: none;
                        opacity: 0;
                        transition: all .2 ease .5;
                        &.mob-m {
                            opacity: 1;
                            pointer-events: all;
                        }
                    }
                }
            }
        }
    }
    .nav {
        &__menu {
            width: 287px;
            padding: 109px 0px 0px 38px;
            &-link {
                font-size: rem(14);
                line-height: rem(18);
            }
        }
    }
    .mob-burger {
        margin-left: 18px;
    }
    .bg-img {
        &_home-present {
            width: 352px;
            bottom: -262px;
            left: -8px;
        }
        &_footer-right {
            right: 65px;
            bottom: -22px;
        }
    }
    .footer {
        &-sect {
            padding-bottom: 95px;
        }
        flex-wrap: wrap;
        &__social {
            margin-top: 11px;
        }
        &__wrap {
            &_middle {
                order: 3;
                margin-top: 32px;
                flex-wrap: wrap;
                margin-top: 32px;
                margin-left: 0;
                &:first-child {
                    margin-right: 89px;
                }
            }
            &_right {
                margin-top: 12px;
                margin-right: 47px;
            }
        }
        .des {
            right: 147px;
            bottom: 43px;
        }
        &__copy {
            position: absolute;
            bottom: 43px;
            right: 20px;
            margin-top: 0;
        }
    }
}