.about-page-header {
    padding-bottom: 137px;
}

.about-us-section {
    
}
.about-us {
    @extend %df;
    @extend %jcsb;
    padding-top: 78px;
    
		// .about-us__wrap

		&__wrap {

			// .about-us__wrap_left

			&_left {
                padding-top: 7px;
			}

			// .about-us__wrap_right

			&_right {
                padding-left: 83px;
			}
		}

		// .about-us__title

		&__title {
            @extend %h1-title;
            color: $black;
		}

		// .about-us__text

		&__text {
            @extend %simple-text;
            color: $gray;
            margin-top: 21px;
            margin-bottom: 59px;
		}

		// .about-us__btn

		&__btn {
            @extend %fill-btn;
            @extend %red-btn;
            width: 223px;
            height: 50px;
		}

		// .about-us__btn-text

		&__btn-text {
		}
}
