.present-page-header {
}
.present-page {
        @extend %df;
        @extend %jcsb;
        padding-top: 39px;
		// .present-page__wrap

		&__wrap {

			// .present-page__wrap_left

			&_left {
                padding-left: 56px;
                img {
                    width: 357px;
                    height: 238px;
                }
			}

			// .present-page__wrap_right

			&_right {
                padding-top: 50px;
                max-width: 579px;
			}
		}

		// .present-page__title

		&__title {
            @extend %h1-title;
            color: $black;
            margin-bottom: 21px;
		}

		// .present-page__text

		&__text {
            @extend %simple-text;
            color: $gray;
		}
}
