.pres-page-sect {
    padding-top: 112px;
    padding-bottom: 45px;
}
.container {
}
.all-pres {
    @extend %df;
    flex-wrap: wrap;
    @extend %jcsb;
		// .all-pres__item

		&__item {
            position: relative;
            @extend %db;
            width: 566px;
            margin-bottom: 75px;
		}

		// .all-pres__slider

		&__slider {
            margin-bottom: 23px;
		}

		// .all-pres__slider-item

		&__slider-item {

			// .all-pres__slider-item_0

			&_0 {
			}

			// .all-pres__slider-item_1

			&_1 {
			}

			// .all-pres__slider-item_2

			&_2 {
			}

			// .all-pres__slider-item_3

			&_3 {
			}

			// .all-pres__slider-item_4

			&_4 {
			}
		}

		// .all-pres__wrap-img

		&__wrap-img {
            width: 100%;
            overflow: hidden;
            border-radius: 2px;
		}

		// .all-pres__wrap-btn

		&__wrap-btn {
            @extend %presentation-slider-btns-wrap;
            &_white {
                @extend %presentations-white-bg;
            }
		}

		// .all-pres__btn

		&__btn {
            @extend %presentation-slider-btn;
		}

		// .all-pres__text

		&__text {
		}
		// .all-pres__text-link

		&__text-link {
            @extend %simple-text;
            color: $black;
            &:hover {
                color: $red;
            }
		}
}
.slider {

		// .slider_all-pres

		&_all-pres {
		}
}
.swiper-container {
}
.slider-all-pres {
}
.pres-all {
}
.swiper-wrapper {
}
.swiper-slide {
}
.pres-all-prev {
}
.pres-all-next {
}
