@include bp(1024px) {
    .present-page {
        &__wrap {
            &_left {
                padding-left: 0;
                img {
                    width: 280px;
                    height: auto;
                }
            }
            &_right {
                max-width: 349px;
                padding-top: 0;
            }
        }
        &__title {
            @extend %title-adapt;
        }
        &__text {
            @extend %text-adapt;
        }
    }
}