.media-lib-sect {
    padding-top: 122px;
    padding-bottom: 44px;
}

.media-lib {

    // .media-lib__wrap

    &__wrap {

        // .media-lib__wrap_top

        &_top {
            margin-bottom: 30px;
        }

        // .media-lib__wrap_bot

        &_bot {

        }
    }

    // .media-lib__title-wrap

    &__title-wrap {
        @extend %df;
    }

    // .media-lib__link-back

    &__link-back {
        @extend .pres-ins__link-back;
    }

    // .media-lib__title

    &__title {
        @extend %h2-title;
        color: $black;
        padding-left: 20px;
    }

    // .media-lib__text

    &__text {
        @extend %simple-text;
        color: $gray;
        padding-left: 33px;
    }

    // .media-lib__wrapper

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 21px;
    }

    // .media-lib__item

    &__item {
        position: relative;
        width: 372px;
        margin-bottom: 19px;
    }

    // .media-lib__link

    &__link {
    }

    // .media-lib__wrap-img

    &__wrap-img {
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
    }

    // .media-lib__icon

    &__icon {
        @extend .media-theme__icon;
    }
}
.media-one-video {
    width: 571px;
    iframe {
        width: 100%;
        min-height: 320px;
    }
}
.media-one-like {
    padding-top: 80px;
    .media-theme__wrap_top {
        // margin-bottom: 40px;
        // padding-left: 40px;
    }
}
.icon {
}
.icon-play-ico {
}
.white {
}
